{% load staticfiles %}
<!DOCTYPE html>

<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
    <!--<![endif]-->
    <!-- BEGIN HEAD -->
    <head>
        <meta charset="utf-8" />
        <title>Pecuarios | Manager</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1" name="viewport" />
        <meta content="" name="description" />
        <meta content="" name="author" />
        <!-- BEGIN GLOBAL MANDATORY STYLES -->
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
        <link href="/static/theme/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
        <link href="/static/theme/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
        <link href="/static/theme/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="/static/theme/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />
        <!-- END GLOBAL MANDATORY STYLES -->
        <!-- BEGIN PAGE LEVEL PLUGINS -->

        <link href="/static/theme/global/plugins/bootstrap-daterangepicker/daterangepicker.min.css" rel="stylesheet" type="text/css" />
        <link href="/static/theme/global/plugins/bootstrap-toastr/toastr.min.css" rel="stylesheet" type="text/css" />
        <link href="/static/theme/global/plugins/morris/morris.css" rel="stylesheet" type="text/css" />
        <link href="/static/theme/global/plugins/fullcalendar/fullcalendar.min.css" rel="stylesheet" type="text/css" />
        <link href="/static/theme/global/plugins/jqvmap/jqvmap/jqvmap.css" rel="stylesheet" type="text/css" />
        <!-- END PAGE LEVEL PLUGINS -->
        <!-- BEGIN THEME GLOBAL STYLES -->
        <link href="/static/theme/global/css/components.min.css" rel="stylesheet" id="style_components" type="text/css" />
        <link href="/static/theme/global/css/plugins.min.css" rel="stylesheet" type="text/css" />
        <!-- END THEME GLOBAL STYLES -->
        <!-- BEGIN THEME LAYOUT STYLES -->
        <link href="/static/theme/layouts/layout3/css/layout.min.css" rel="stylesheet" type="text/css" />
        <link href="/static/theme/layouts/layout3/css/themes/default.min.css" rel="stylesheet" type="text/css" id="style_color" />
        <link href="/static/theme/layouts/layout3/css/custom.min.css" rel="stylesheet" type="text/css" />
        <!-- END THEME LAYOUT STYLES -->

        <link rel="shortcut icon" href="favicon.ico" /> </head>
        {% block extras %}

        {% endblock %}

    <!-- END HEAD -->
<body class="page-container-bg-solid" ng-app='mainApp'>


        <!-- BEGIN HEADER -->
        <div class="page-header">
            <!-- BEGIN HEADER TOP -->
            <div class="page-header-top">
                <div class="container">
                    <!-- BEGIN LOGO -->
                    <div class="page-logo">
                        <a href="/manager/home/">
                            <img src="/static/img/peclogo.png" alt="logo" class="logo-default" width="40px" style="margin-top:10px;">
                        </a>
                    </div>
                    <!-- END LOGO -->
                    <!-- BEGIN RESPONSIVE MENU TOGGLER -->
                    <a href="javascript:;" class="menu-toggler"></a>
                </div>
            </div>
            <!-- END HEADER TOP -->
            <!-- BEGIN HEADER MENU -->
            <div class="page-header-menu">
                <div class="container">
                    <!-- BEGIN HEADER SEARCH BOX -->
                    <form class="search-form" action="page_general_search.html" method="GET" style="display: none;">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search" name="query">
                            <span class="input-group-btn">
                                <a href="javascript:;" class="btn submit">
                                    <i class="icon-magnifier"></i>
                                </a>
                            </span>
                        </div>
                    </form>
                    <!-- END HEADER SEARCH BOX -->
                    <!-- BEGIN MEGA MENU -->
                    <!-- DOC: Apply "hor-menu-light" class after the "hor-menu" class below to have a horizontal menu with white background -->
                    <!-- DOC: Remove data-hover="dropdown" and data-close-others="true" attributes below to disable the dropdown opening on mouse hover -->
                    <div class="hor-menu">
                        <ul class="nav navbar-nav ">
                            <li class="menu-dropdown classic-menu-dropdown ">
                                <a href="javascript:;"> Secciones
                                    <span class="arrow"></span>
                                </a>
                                <ul class="dropdown-menu pull-left">
                                    <li class="">
                                        <a href="/manager/secciones/?s=home" class="nav-link  ">
                                            <i class="icon-bulb"></i> Home </a>
                                    </li>

                                </ul>
                            </li>


                            <li class="menu-dropdown classic-menu-dropdown ">
                                <a href="javascript:;"> Magazine
                                    <span class="arrow"></span>
                                </a>
                                <ul class="dropdown-menu pull-left">
                                    <li class="">
                                        <a href="/manager/categorias/" class="nav-link  ">
                                            <i class="icon-bulb"></i> Categorías para Magazine </a>
                                    </li>

                                    <li class="">
                                        <a href="/manager/articulos/" class="nav-link  ">
                                            <i class="glyphicon glyphicon-list-alt"></i> Artículos
                                            <!-- <span class="badge badge-success">1</span> -->
                                        </a>
                                    </li>
                                    <li class="">
                                        <a href="/manager/autores/" class="nav-link  ">
                                            <i class="icon-bulb"></i> Autores </a>
                                    </li>
                                    <li class="">
                                        <a href="/manager/capsulas/" class="nav-link  ">
                                            <i class="icon-bulb"></i> Capsulas </a>
                                    </li>
                                    <li class="">
                                        <a href="/manager/videos/" class="nav-link  ">
                                            <i class="icon-bulb"></i> Videos </a>
                                    </li>
                                    <li class="">
                                        <a href="/manager/jimlong/" class="nav-link  ">
                                            <i class="icon-bulb"></i> JimLong </a>
                                    </li>
                                </ul>
                            </li>


                            <li class="menu-dropdown classic-menu-dropdown ">
                                <a href="javascript:;"> Empresas
                                    <span class="arrow"></span>
                                </a>
                                <ul class="dropdown-menu pull-left">
                                    <li class="">
                                        <a href="/manager/empresas/" class="nav-link  ">
                                            <i class="glyphicon glyphicon-list-alt"></i> Empresas
                                        </a>
                                    </li>
                                    <li class="">
                                        <a href="/manager/contactos/" class="nav-link  ">
                                            <i class="glyphicon glyphicon-list-alt"></i> Contactos Empresa
                                        </a>
                                    </li>

                                    <li class="">
                                        <a href="/manager/catempresas/" class="nav-link  ">
                                            <i class="glyphicon glyphicon-list-alt"></i> Categorías de Productos
                                        </a>
                                    </li>
                                    <li class="">
                                        <a href="/manager/productos/" class="nav-link  ">
                                            <i class="glyphicon glyphicon-list-alt"></i>Productos
                                        </a>
                                    </li>

                                </ul>
                            </li>

                            <li class="menu-dropdown classic-menu-dropdown ">
                                <a href="javascript:;"> Banners 
                                    <span class="arrow"></span>
                                </a>
                                <ul class="dropdown-menu pull-left">
                                    <li class="">
                                        <a href="/manager/banners/" class="nav-link  ">
                                            <i class="glyphicon glyphicon-list-alt"></i> Banners
                                        </a>
                                    </li>

                                </ul>
                            </li>

                            <li class="menu-dropdown classic-menu-dropdown ">
                                <a href="javascript:;"> Eventos
                                    <span class="arrow"></span>
                                </a>
                                <ul class="dropdown-menu pull-left">
                                    <li class="">
                                        <a href="/manager/eventos/" class="nav-link  ">
                                            <i class="glyphicon glyphicon-list-alt"></i> Eventos
                                        </a>
                                    </li>

                                </ul>
                            </li>


                        </ul>
                    </div>
                    <!-- END MEGA MENU -->
                </div>
            </div>
            <!-- END HEADER MENU -->
        </div>
        <!-- END HEADER -->

{% block content %}
{% endblock %}



        <!-- BEGIN FOOTER -->

        <!-- BEGIN INNER FOOTER -->
        <div class="page-footer">
            <div class="container"> 2016 &copy; Pecuarios.
                <a href="http://pecuarios.com" title="" target="_blank"></a>
            </div>
        </div>
        <div class="scroll-to-top">
            <i class="icon-arrow-up"></i>
        </div>
        <!-- END INNER FOOTER -->
        <!-- END FOOTER -->




        <!--[if lt IE 9]>
<script src="/static/theme/global/plugins/respond.min.js"></script>
<script src="/static/theme/global/plugins/excanvas.min.js"></script> 
<![endif]-->
        <!-- BEGIN CORE PLUGINS -->
        <script src="/static/theme/global/plugins/jquery.min.js" type="text/javascript"></script>
        <script src="/static/theme/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
        <script src="/static/theme/global/plugins/js.cookie.min.js" type="text/javascript"></script>
        <script src="/static/theme/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js" type="text/javascript"></script>
        <script src="/static/theme/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
        <script src="/static/theme/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
        <script src="/static/theme/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
        <script src="/static/theme/global/plugins/bootstrap-toastr/toastr.min.js" type="text/javascript"></script>
        <!-- END CORE PLUGINS -->
        <!-- BEGIN PAGE LEVEL PLUGINS -->
        <script src="/static/theme/global/plugins/moment.min.js" type="text/javascript"></script>
        <script src="/static/theme/global/plugins/bootstrap-daterangepicker/daterangepicker.min.js" type="text/javascript"></script>
        <script src="/static/theme/global/plugins/morris/morris.min.js" type="text/javascript"></script>
        <script src="/static/theme/global/plugins/morris/raphael-min.js" type="text/javascript"></script>
        <script src="/static/theme/global/plugins/counterup/jquery.waypoints.min.js" type="text/javascript"></script>
        <script src="/static/theme/global/plugins/counterup/jquery.counterup.min.js" type="text/javascript"></script>
        <script src="/static/theme/global/plugins/fullcalendar/fullcalendar.min.js" type="text/javascript"></script>
        <script src="/static/theme/global/plugins/flot/jquery.flot.min.js" type="text/javascript"></script>
        <script src="/static/theme/global/plugins/flot/jquery.flot.resize.min.js" type="text/javascript"></script>
        <script src="/static/theme/global/plugins/flot/jquery.flot.categories.min.js" type="text/javascript"></script>
        <script src="/static/theme/global/plugins/jquery-easypiechart/jquery.easypiechart.min.js" type="text/javascript"></script>
        <script src="/static/theme/global/plugins/jquery.sparkline.min.js" type="text/javascript"></script>
        <script src="/static/theme/global/plugins/jqvmap/jqvmap/jquery.vmap.js" type="text/javascript"></script>
        <script src="/static/theme/global/plugins/jqvmap/jqvmap/data/jquery.vmap.sampledata.js" type="text/javascript"></script>

        <script src="/static/theme/global/plugins/bootstrap-confirmation/bootstrap-confirmation.min.js" type="text/javascript"></script>


        <!-- END PAGE LEVEL PLUGINS -->
        <!-- BEGIN THEME GLOBAL SCRIPTS -->
        <script src="/static/theme/global/scripts/app.min.js" type="text/javascript"></script>
        <!-- END THEME GLOBAL SCRIPTS -->
        <!-- BEGIN PAGE LEVEL SCRIPTS -->
        <script src="/static/theme/pages/scripts/dashboard.min.js" type="text/javascript"></script>
        <!-- END PAGE LEVEL SCRIPTS -->
        <!-- BEGIN THEME LAYOUT SCRIPTS -->
        <script src="/static/theme/layouts/layout3/scripts/layout.min.js" type="text/javascript"></script>
        <script src="/static/theme/layouts/layout3/scripts/demo.min.js" type="text/javascript"></script>
        <script src="/static/theme/layouts/global/scripts/quick-sidebar.min.js" type="text/javascript"></script>
        <!-- END THEME LAYOUT SCRIPTS -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.2/angular.min.js"></script>


<script type="text/javascript">



  var myapp = angular.module('mainApp',[]);
  var customInterpolationApp = angular.module('customInterpolationApp', []);

  myapp.config(function($interpolateProvider) {
      $interpolateProvider.startSymbol('||');
      $interpolateProvider.endSymbol('||');
    });



myapp.filter('rawHtml', ['$sce', function($sce){
  return function(val) {
    return $sce.trustAsHtml(val);
  };
}]);


  </script>


{% block extrajs %}
{% endblock %}


</body>

</html>