.backgroundred{
  background-color: red;
}
.backgroundgreen{
  background-color: green;
}
.backgroundpurple{
  background-color: purple;
}
.backgroundblack{
  background-color: black;
}
/* Modificadores Pecuarios */ 
body{
  line-height: auto!important;
  font-weight: normal;
  font-size: 13px;
  -moz-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  background: url('../images/base/bg.png');
}
body > section {
    padding: 10px 0 0 0;
}
/*body > section {
    padding: 20px 0 20px 0;
}*/
.height40{
  min-height: 40px;
}
.nomargin{
  margin: 0;
}
.nopadding{
  padding: 0;
}
.textalignl{
  text-align: left;
}
.textalignr{
  text-align: right;
}
.textalignc{
  text-align: center;
}
.colorgrisa3{
  color: #a3a3a3;
}
.floatr{
  float: right;
}
.floatl{
  float: left;
}
.floatc{
  margin: 0 auto;
  text-align: center;
}
.iconPec {
  font-family: pecuarios-iconset;
  color: #fff;
  font-size: 25px;
  text-transform: none;
  font-weight: 300;
}

/*TOPBAR*/
.top-bar {
    min-height: 40px;
    padding: 0;
    background-color: #ffffff;
    border-bottom: none;
}
.socialicons a:link{
  color: #a3a3a3
}

.search{
}
.searchboxTop{
  width: auto;
  background-color: red;
  height: 40px;
}
.lupatopbar{
  background-color: #496201;
  height: 40px;
  width: 40px;
  font-family: pecuarios-iconset;
  color: #ffffff;
  font-size: 19px;
  text-align: center;
  line-height: 34px;
  position: absolute;
  right: 0;
  cursor: pointer;
  transition: all 0.3s ease-in;
}
.lupatopbar:hover{
  background-color: #f16521;
  transition: all 0.3s ease-in;
}

.ingresaTopbar{
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: bold;
  font-size: 15px;
  color: #496201;
  transition: all 0.3s ease-in;
}
#headArea{
  min-height: 90px;
  margin-bottom: 15px;
}
/*TOPBAR*/

/*Menu*/
.navbar-inverse .navbar-nav > li > a{
  border-radius: 0px;
}
.navbar-inverse .navbar-nav > li > a:hover{
  background-color: #ffffff;
  color: #3e3e3e;
  border-radius: 0px;
}
.navbar {
    padding: 15px 0;
    background: #81981b;
    background: -moz-linear-gradient(top, #81981b 0%, #566e07 99%);
    background: -webkit-linear-gradient(top, #81981b 0%,#566e07 99%);
    background: linear-gradient(to bottom, #81981b 0%,#566e07 99%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#81981b', endColorstr='#566e07',GradientType=0 );
}
.navbar-nav{
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
}
.navbar-nav>li {
    margin-left: 6px;
}
.navbar-nav>li {
    padding-bottom: 0px;
}
.navbar {
    padding:0;
}    
.navbar-nav {
    margin-top: 0px;
}
.navbar-inverse .navbar-nav > li > a {
    padding: 10px 12px;
    height: 50px;
}
.siteselectionBox{
  position: relative;
  width: 50px;
  height: 50px;
  padding: 0;
  margin: 0;
}
.siteselectionBox li{
  width: 50px;
  height: 50px;
  padding: 0;
  margin: 0;
}
.siteselector{
  min-width: 50px;
}
.siteslectorGana{
}
.siteslectorAvi{

}
.siteslectorPor{

}
.siteganaderia{
  background-color: #496201;
  font-size: 50px !important;
}
.siteganaderia > a{
    margin: 0 !important;
    padding: 0 !important;
    text-align: center;
    position: absolute !important;
    width: 50px;
    height: 50px;
    text-align: center;

}
.siteavicultura{
  background-color: #ebca3f;
  font-size: 50px !important;
}
.siteavicultura  a{
    margin: 0 !important;
    padding: 0 !important;
    text-align: center;
    position: absolute !important;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 40px;
}
.siteporcicultura{
  background-color: #af3e0d;
  font-size: 50px !important;s
}
.siteporcicultura  a{
    margin: 0 !important;
    padding: 0 !important;
    text-align: center;
    position: absolute !important;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 40px;
}
/*Menu*/


/* Carrusel*/
.carousel-inner{
  background-color: #ffffff;
  position: relative;
  height: 500px;
}
#main-slider .carousel .slide-margin {
    margin-top: 0;
}
.carruselpecuarios{

}
.carruselpecuarios p{
  color: #fff;
}

#main-slider .prev {
    background-color: #a3a3a3;
}
#main-slider .next {
    background-color: #a3a3a3;
}
#main-slider .prev:hover {
    background-color: #496201;
}
#main-slider .next:hover {
    background-color: #496201;
}
/* Carrusel*/

/*DESTACDO*/
.desitemimg h3 {
    margin-top: 0px;
}
.desitemimg img {
    width: 100%;
    height: auto;
}


.iconPecHomeProd {
  font-family: pecuarios-iconset;
  color: #fff;
  font-size: 50px;
  text-transform: none;
  font-weight: 300;
}
.iconPecPie {
  font-family: pecuarios-iconset;
  font-size: 60px;
}
.iconPecPie:before{
    content: "";
}


h1{
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 50px;
}

#main-slider .prev, #main-slider .next {
    border-radius: 0px;
}
#bottom{
  background: url('../images/base/footertexture.png');
  border-bottom: 0px;
  border-top: 5px solid #496201;
  color: #6d6d6d;
  font-size: 13px;
  padding-top: 30px;
  padding-bottom: 30px;
}

#bottom h3 {
    color: #496201;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 20px;
}

h3 {
  color: #3c3c3c;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
}

a {
  color: #6d6d6d;
  transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
}

a:hover, a:focus {
  color: #f16521;
}


#footer{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#81981b+0,566e07+99 */
  background: #81981b; /* Old browsers */
  background: -moz-linear-gradient(top,  #81981b 0%, #566e07 99%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #81981b 0%,#566e07 99%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #81981b 0%,#566e07 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#81981b', endColorstr='#566e07',GradientType=0 ); /* IE6-9 */
  font-size: 11px;
  padding-top: 20px;
  padding-bottom: 10px;
  color: #fff;
  min-height: 50px;
}

#bottom ul li {
    display: block;
    padding: 0px;
}
.btnContactSub {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bold;
    background-color: #f16521;
    border-radius: 0px;
    width: 100%;
    height: 40px;
    text-align: center;
    color: #fff;
    font-size: 15px;
    line-height: 20px;
    margin: 0px;
    padding: 0px;
    margin-left: 0px;
    transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
}
.btnContactSub:hover {
  width: 100%;
  height: 40px;
  background-color: #6d6d6d;
  color: #fff;
  border-radius: 0px;
  border: 0px;
  margin: 0px;
  margin-left: 0px;
  padding: 0px;
  transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
}
.btnNewsSub {
    font-family: pecuarios-iconset;
    background-color: #f16521;
    border-radius: 0px;
    width: 40px;
    height: 40px;
    text-align: center;
    color: #fff;
    font-size: 20px;
    line-height: 20px;
    margin: 0px;
    padding: 0px;
    margin-left: 0px;
    transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
}
.btnNewsSub:hover {
  width: 40px;
  height: 40px;
  background-color: #6d6d6d;
  color: #fff;
  border-radius: 0px;
  border: 0px;
  margin: 0px;
  margin-left: 0px;
  padding: 0px;
  transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
}
.btn {
    border: 0px solid transparent;
}


.form-control {
    height: 40px;
    border-radius: 0px;
    border: 2px solid #e3e3e3;
}
ul.social-share li a {
    background: transparent;
    font-size: 18px;
}
ul.social-share li a:hover {
    background: transparent;
    color: blue;
}

#bottom ul li a:hover {
    color: #f16521;
}
#bottom ul li:before {
    content: "\f111";
    font-family: FontAwesome;
    color: #496201;
    margin-right: 10px;
    font-size: 9px;
}

ul.social-share li a {
    color: #a3a3a3;
}



.dropmenupec{
  height: 30px;
  padding: 0;
}
.dropmenupec > a{
  height: 30px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 12px;
  font-weight: bold !important;
  text-transform: uppercase;
  padding: 0 0 0 10px !important;
  color: #2a2a2a !important;
  background-color: #ffffff;
}
.dropmenupec > a:hover{
  color: #ffffff !important;
}
.dropmenupec > a > span{ 
  width: 30px;
  height: 30px;
  margin: 0;
  padding: 0;
  position: absolute;
  color: inherit;
  line-height: 30px;
  font-size: 20px;
  text-align: center;
}
.dropmenupec > a > p{ 
  height: 30px;
  margin: 0;
  padding: 0;
  position: absolute;
  left: 45px;
  line-height: 30px;
}
.dropdown-menu {
    min-width: 240px;
}

.dropmenuesp {
    height: 100px;
    padding: 0;
    margin: 0;
}
.dropmenuesp > a {
    height: 100px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 12px;
    font-weight: bold !important;
    text-transform: uppercase;
    padding: 15px 0 0 10px !important;
    color: #2a2a2a !important;
    background-color: #ffffff;
}
.dropmenuesp > a:hover{
  color: #ffffff !important;
}
.dropmenuesp > a > p > strong{ 
  font-family: 'Open Sans Condensed', sans-serif;
  text-transform: uppercase;
}
.dropmenuesp > a > p {
    font-family: 'Open Sans', sans-serif;
    line-height: auto;
    font-size: 9px;
    font-weight: normal;
    text-transform: none;
    white-space: normal;
    padding: 10px;
    display: inline-block;
    width: 70%;
}
.navbar-inverse .navbar-nav .dropdown-menu{
  background-color: #ffffff;
}
.dropmenuesprazas {
    float: left;
    width: 65px;
    height: 65px;
    display: inline-block;
}

#invitaseccion{
  text-align: center;
  padding-top: 30px;
}
.feature-wrap i {
    font-size: 50px;
    height: 110px;
    width: 110px;
    margin: 3px;
    border-radius: 100%;
    line-height: 110px;
    text-align: center;
    background: #7cae4e;
    color: #ffffff;
    border: 0;
    box-shadow: none; ;
    /* transition: 500ms; */
    float: none;
    margin-right: 25px;
}
.feature-wrap i:hover{
    box-shadow: none;
    border: none;
    background: #7cae4e;
}
.feature-wrap i {
    margin-right: 0px;
}
.titulomas{
  font-size: 25px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  color: #6d6d6d;
  border-bottom: 1px solid #e9e9e9;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 0px;
}
.titulomas > .iconPec{
  color: #6d6d6d;
  font-size: 20px;
}
.homeProduct{
  background: #ffffff;
  height: 170px;
  width: 100%;
  margin-top: 15px;
  cursor: pointer;
}
.homeProductImage{
  height: 130px;
  border: 1px solid #e3e3e3;
  text-align: center;
  position: relative;
  background: url('../images/temporales/productos.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
}
.homeProductOverlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  border-radius: 0;
  background: rgba(0,0,0,0.8);
  color: #fff;
  vertical-align: middle;
  transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  padding: 30px;
}
.homeProductOverlay:hover{
  opacity: 1;
  transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
}
.homeProductImage img{
    vertical-align: middle;
    height: 100%;
    width: auto;
    margin: 0 auto;
    max-width: 100%;
}
.homeProductTit{
  font-size: 14px;
  font-family: 'Open Sans Condensed', sans-serif;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  background: #d4d4d4;
  height: 40px;
  color: #3c3c3c;
  line-height: 14px;
}

.verticalCont{
  display: table;
  width: 100%;
  height: 100%;
}
.verticalText{
  display: table-cell;
  vertical-align: middle;
  padding-left: 10px;
  padding-right: 10px;
}

.secSuperB{
  background-color: transparent;
  padding: 10px 0 10px 0;
}

/* Videos */
#videohome{

}
#videohome ul{
  width: 100%;
  list-style: none;
  padding: 0px;
}
#videohome ul li{
  width: 100%;
  height: 90% !important;
}
#videohome h3 {
    margin-top: 0px;
}



/* BANNERS */
.superbanner {
    cursor: pointer;
    position: relative;
    width: 728px;
    height: 90px;
    background-color: #ffffff;
    border: 0px solid #a3a3a3;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.boxbanner {
    cursor: pointer;
    position: relative;
    width: 300px;
    height: 250px;
    background-color: #ffffff;
    border: 0px solid #a3a3a3;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.doublebox{
  cursor: pointer;
  position: relative;
  width: 300px;
  height: auto;
  background-color: #ffffff;
  border: 0px solid #a3a3a3;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box
}
.doubleboxhorizontal{
  cursor: pointer;
  position: relative;
  width: 100%;
  height: 300px;
  background-color: #ffffff;
  border: 0px solid #a3a3a3;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  text-align: center;
}
/* BANNERS */

.paddingtop10{
  padding-top: 10px;
}
.paddingbottom10{
  padding-bottom: 10px;
}
.margintop10{
  margin-top: 10px;
}
.marginbottom10{
  margin-bottom: 10px;
}
.paddingright10{
  padding-right: 10px;
}
.paddingleft10{
  padding-left: 10px;
}
.homevideoCont{
background: gray;
}
.homevideoVim{
  height: 300px;
  background: green;
}
.homevideoside{
  background: red;
  height: 300px;
}

.ejemplo {
  text-align: center;
}
.width {
  width: 100%;
  background: #F9D237;
  position: relative;
  display: inline-block;
  vertical-align: top;
}
.width:before {
    content: '';
    display: block;
}
.ratio1-1:before {padding-top: 100%;}
.ratio2-1:before {padding-top: 50%;}
.ratio4-3:before {padding-top: 75%;}
.ratio16-9:before {padding-top: 56.25%;}
.contenido {    
   position: absolute;
   top: 0; left: 0; bottom: 0; right: 0;
   font-size: 1.5rem;
   color: #444;
}



/*    GRID   */

/* CONTENEDOR DE GRID*/
.greenbar{
    background: #81981b;
    background: -moz-linear-gradient(top, #81981b 0%, #566e07 99%);
    background: -webkit-linear-gradient(top, #81981b 0%,#566e07 99%);
    background: linear-gradient(to bottom, #81981b 0%,#566e07 99%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#81981b', endColorstr='#566e07',GradientType=0 );
    font-size: 11px;

    color: #fff;
    min-height: 40px;
    margin-bottom: 10px;
}
.greenbar h2{
  font-weight: bold;
  font-family: 'Open Sans Condensed', sans-serif;
  color: #4e4e4e;
  margin:0;
  padding: 0;
  color: #fff;
  line-height: 40px;
}
.greenbarFilter{
  height: 40px;
}
.greenbarFilter > ul{
  list-style-type: none;
  display: inline-block;
  height: 35px;
}
.greenbarFilter > ul >li{
  display: inline-block;
  line-height: 40px;
}
.greenbarFilter > p{
  line-height: 40px;
  height: 40px;
  width: auto;
  display: inline-block;
  margin: 0
}
.iconPecBarraverde{
  font-family: pecuarios-iconset;
}
.twocolgrid{
  background: grey;

}
/* CONTENEDOR DE GRID*/
/* Grid dos columnas */
.btnlike:hover{
  cursor: pointer;
  color: #7cae4e;
}
.btndislike:hover{
  cursor: pointer;
  color: #7cae4e;
}
.btnfavorite:hover{
  cursor: pointer;
  color: #b52617;
}
.griditemmd{

}
.griditemmd h3{
  margin-top: 0px;
}
.whitebg{
  background-color: #fff;
}
.twocolgrid h3{
  color: #3c3c3c;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 0px;
  margin-bottom: 0;
}
.iconPectwoCol {
    font-family: pecuarios-iconset;
    color: #a3a3a3;
    font-size: 16px;
    text-transform: none;
    font-weight: 300;
}
.secondinfotwocol{
  background: red;
}
.griditemimg img{
  width: 100%;
  height: auto;
}
.containerbarra40{
  width: 100%;
  height: 40px;
  background: #f5f5f5;
  color: #6d6d6d;
  font-size: 12px;
  line-height: 40px;
}
.bar40iconPec {
  font-family: pecuarios-iconset;
  color: #a3a3a3;
  font-size: 15px;
  text-transform: none;
  font-weight: 300;
}
.btnvermasflecha{
  width: 40px;
  height: 40px;
  background: #a3a3a3;
  line-height: 40px;
  text-align: center;
  position: absolute;
  right: 0;
  cursor: pointer;
  transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
}
.btnvermasflecha:hover{
  background: #496201;
  transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
}
.homegridOverlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    border-radius: 0;
    background: rgba(0,0,0,0.8);
    color: #fff;
    vertical-align: middle;
    cursor: pointer;
    transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
    padding: 30px;
}
.homegridOverlay:hover {
    opacity: 1;
    transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
}
.homegridOverlaytext{
width: 90px;
    text-align: center;
    position: absolute;
    top: 50%;
    bottom: 0;
    left: 0;
    right: 0;
    height: 90px;
    padding: 0;
    margin: auto;
    margin-top: -45px;
}
.homegridOverlaytext h3{
  color: #fff;
}
/* Grid dos columnas */

/* LO MAS LEIDO Relleno */
#lomasRell{
  list-style: none;
}
#lomasRell ul{
  padding: 0px;
}
#lomasRell ul li{
  list-style: none;
  /* background-color: #ffffff; */
  height: 80px;
  margin-top: 10px;
  margin-right: 0px;
  padding-left: 0px;
}
.lomasdateItem{
  width: 100%;
  background-color: #f5f5f5;
  height: 80px;
  cursor: pointer;
  transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
}
.lomasdateItem h4{
  font-family: 'Open Sans Condensed', sans-serif;
  text-transform: uppercase;
  transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
}
.lomasdateItem h4:hover{
  color: #496201;
  font-family: 'Open Sans Condensed', sans-serif;
  transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
}
.lomasdateimage{
  position: relative;
  width: 120px;
  height: 80px;
}
.lomasdateimage img{
  width: 100%;
  height: auto;
}

.lomasdateimageOverlay{
  position: absolute;
  width: 100%;
  height: 100%;

}
.homeLomasOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    border-radius: 0;
    background: rgba(0,0,0,0.8);
    color: #fff;
    text-align: center;
    vertical-align: middle;
    transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
    padding: 20px 5px;
}
.homeLomasOverlay:hover {
    opacity: 1;
    transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
}
.iconPecHomeLomas {
    font-family: pecuarios-iconset;
    color: #fff;
    font-size: 30px;
    text-transform: none;
    font-weight: 300;
}

#lomasRell .iconpec{
  height: 40px;
  width: 40px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  font-family: pecuarios-iconset;
  color: #fff;
  font-size: 25px;
  text-transform: none;
  font-weight: 300;
}
.lomasdateItem .iconPec{
  background-color: #3c3c3c;
  position: absolute;
  width: 30px;
  height: 30px;
  left: 0;
  bottom: 0;
  font-size: 20px;
  text-align: center;
  line-height: 30px;n;
}
/* LO MAS LEIDO Relleno */
/* Eventos home Relleno */
#eventoshRell{
  list-style: none;
}
#eventoshRell ul{
  padding: 0px;
}
#eventoshRell ul li{
  list-style: none;
  /* background-color: #ffffff; */
  height: 80px;
  margin-top: 10px;
  margin-right: 0px;
  padding-left: 0px;
}
.eventoshdateItem{
  width: 100%;
  background-color: #f5f5f5;
  height: 80px;
  cursor: pointer;
  transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
}
.eventoshdateItem h4{
  font-family: 'Open Sans Condensed', sans-serif;
  text-transform: uppercase;
  transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
}
.eventoshdateItem h4:hover{
  color: #496201;
  font-family: 'Open Sans Condensed', sans-serif;
  transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
}
.eventoshdateimage{
  position: relative;
  width: 100%;
  height: 80px;
}
.eventoshdateimage img{
  width: 100%;
  height: auto;
}

.eventoshdateimageOverlay{
  position: absolute;
  width: 100%;
  height: 100%;

}
.homeeventoshOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    border-radius: 0;
    background: rgba(0,0,0,0.8);
    color: #fff;
    text-align: center;
    vertical-align: middle;
    transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
    padding: 20px 5px;
}
.homeeventoshOverlay:hover {
    opacity: 1;
    transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
}
.iconPecHomeeventosh {
    font-family: pecuarios-iconset;
    color: #fff;
    font-size: 30px;
    text-transform: none;
    font-weight: 300;
}

#eventoshRell .iconpec{
  height: 40px;
  width: 40px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  font-family: pecuarios-iconset;
  color: #fff;
  font-size: 25px;
  text-transform: none;
  font-weight: 300;
}
.eventoshdateItem{
  background-color: #a3a3a3;
  cursor: pointer;
}

.eventoshdateItem:hover{
  background-color: #496201;
}

.eventoshdateItem .iconPec{
/*  background-color: #3c3c3c;*/
  position: absolute;
  width: 30px;
  height: 30px;
  left: 0;
  bottom: 0;
  font-size: 20px;
  text-align: center;
  line-height: 30px;n;
}
.titueventosh {
    font-size: 25px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: #6d6d6d;
    border-bottom: 1px solid #e9e9e9;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 0px;
}
.titueventosh > .iconPec {
    color: #6d6d6d;
    font-size: 20px;
}
.eventodatetx{
  color: #fff;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 11px;
  padding-top: 9px;
  text-transform: uppercase;
}
.eventodatetx span{
  color: #fff;
  text-align: center;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: bold;
  font-size: 35px;
  line-height: 28px;
}
.eventodateimmini{
  height: 80px;
  overflow: hidden;
}
.eventodateimmini img{
  width: 100%;
  height: auto;
}
.eventodateinfo{
  background-color: #ffffff;
  height: 80px;
}
/* Eventos home Relleno */


/*MAGAZINE*/

#breadcrumbs{
  color: #6d6d6d;
  font-size: 12px;
  font-style: italic;
  height: 45px;
  line-height: 25px;
}
#breadcrumbs a:link{
  color: #6d6d6d;
}
#breadcrumbs a:hover{
  color: #f16521;
}
#titledivider{
  height: 100px;
  background-color: green;
  text-align: center;
  padding: 0;
  background: url('../images/temporales/titlebar.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
#titledivider h1{
  font-family: 'Open Sans Condensed', sans-serif;
  color: #fff;
  font-size: 25px;
  line-height: 50px;
  padding: 0;
  text-transform: uppercase;
}
.vermasBtnGreen{
  font-family: 'Open Sans Condensed', sans-serif;
  width: 95px;
  height: 95px;
  border-radius: 50%;
  margin: 0 auto;
  line-height: 95px;
  text-align: center;
  color: #496201;
  background: url('../images/temporales/cargarMasCircle.png');
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
  transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
}
.vermasBtnGreen:hover{
  color: #ffffff;
  background: url('../images/temporales/cargarMasCircleHover.png');
  cursor: pointer;
  transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
}

/*MAGAZINE*/



/* COMENTARIOS */
.miniavatar{
  border-radius: 50%;
  width: 55px;
  height: 55px;
  background: url('../images/temporales/avatarmini.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  display: inline-block;
}
.miniavatarInfo{
  width: 150px;
  display: inline-block;
}
/* COMENTARIOS */

.sidebarPatrocinadores{
  margin-bottom: 25px;
  padding-bottom: 20px;
}
.barraverdePratocina{
  background: #81981b;
  background: -moz-linear-gradient(top, #81981b 0%, #566e07 99%);
  background: -webkit-linear-gradient(top, #81981b 0%,#566e07 99%);
  background: linear-gradient(to bottom, #81981b 0%,#566e07 99%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#81981b', endColorstr='#566e07',GradientType=0 );
  font-size: 11px;
  color: #fff;
  min-height: 40px;
  margin-bottom: 0px;
}
.barraverdePratocina h2{
  font-family: 'Open Sans Condensed', sans-serif;
  color: #ffffff;
  text-align: center;
  margin-top: 10px;
}
.patrocinadorsideba{
  background: #ffffff;
  padding: 10px;
  cursor: pointer;
}
.patrocinadorsideba img{
    width: 100%;
    height: auto;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.patrocinadorsideba img:hover{
    opacity: 0.7;
}
.patrocinadoriconsidebar{
  height: 50px;
  margin-top: 25px;
}
.patrocinadoriconsidebar:after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background: #ccc;
  margin-top: -20px;
}
.iconcat {
    position: relative;
    width: 40px;
    padding: 0;
    margin: 0 auto;
    margin-top: 0px;
    background: #fcfcfc;
}

.iconcat img {
  display: block;
}

/*COLUMNAS*/
.texturarayas{
  background: url('../images/base/texturarayas.png');
}
.unodos{
  min-height: 250px;
}
.dosdos{
  min-height: 510px;
}


.barrapush{

}
.barrapush h2{
  font-size: 15px;
  padding-left: 15px;
}
.iconPecPush{
  font-family: pecuarios-iconset;
  font-size: 22px;
  line-height: 19px;
  padding: 10px;
}
.greybarPushMenu {
    font-weight: bold;
    font-family: 'Open Sans Condensed', sans-serif;
    background: #e3e3e3;
    font-size: 15px;
    color: #3c3c3c;
    min-height: 40px;
    margin-bottom: 10px;
    text-align: left;
    line-height: 40px;
    padding-left: 15px;
}
.filterselctbox{
  text-align: left;
  font-size: 13px;
}
.filterselctbox{
    text-align: left;
    font-size: 13px;
    border-bottom: 2px solid #82991c;
    background: #fff;
}
.checknon{
  font-family: 'Open Sans', sans-serif!important;
  font-weight: normal!important;
  text-align: left;
  font-size: 13px;
  padding-left: 15px;
  background-color: #f5f5f5;
}
.chackpar{
  font-family: 'Open Sans', sans-serif!important;
  font-weight: normal!important;
  text-align: left;
  font-size: 13px;
  padding-left: 15px;
  background-color: transparent;
}
.filterselctboxPar{
  text-align: left;
  font-size: 13px;
  padding-left: 15px;
  border-bottom: 5px solid #566e07;
}

/* Small devices (tablets, 768px and up) */

@media only screen and (max-width: 768px) {
  .superbanner {
      width: 90%;
      height: auto;
      background-color: red;
  }
  .superbanner img{
      width: 100%;
      height: auto;
  }
  .doubleboxhorizontal {
      height: auto;
  }
  .doubleboxhorizontal img{
      width: 100%;
      height: auto;
  }
}




input[type=checkbox]:not(old),
input[type=radio   ]:not(old){
  width     : 2em;
  margin    : 0;
  padding   : 0;
  font-size : 1em;
  opacity   : 0;
}

input[type=checkbox]:not(old) + label,
input[type=radio   ]:not(old) + label{
  display      : inline-block;
  margin-left  : -2em;
  line-height  : 1.5em;
  font-family: 'Open Sans', sans-serif!important;
  font-weight: normal!important;
  font-size: 13px;
  height: 22px;
  line-height: 24px;
}

input[type=checkbox]:not(old) + label > span,
input[type=radio   ]:not(old) + label > span{
  display          : inline-block;
  width            : 0.875em;
  height           : 0.875em;
  margin           : 0.25em 0.5em 0.25em 0.25em;
  border           : 0.0625em solid rgb(192,192,192);
  border-radius    : 0.25em;
  background       : rgb(224,224,224);
  background-image :    -moz-linear-gradient(rgb(240,240,240),rgb(224,224,224));
  background-image :     -ms-linear-gradient(rgb(240,240,240),rgb(224,224,224));
  background-image :      -o-linear-gradient(rgb(240,240,240),rgb(224,224,224));
  background-image : -webkit-linear-gradient(rgb(240,240,240),rgb(224,224,224));
  background-image :         linear-gradient(rgb(240,240,240),rgb(224,224,224));
  vertical-align   : bottom;
}

input[type=checkbox]:not(old):checked + label > span,
input[type=radio   ]:not(old):checked + label > span{
  background-image :    -moz-linear-gradient(rgb(224,224,224),rgb(240,240,240));
  background-image :     -ms-linear-gradient(rgb(224,224,224),rgb(240,240,240));
  background-image :      -o-linear-gradient(rgb(224,224,224),rgb(240,240,240));
  background-image : -webkit-linear-gradient(rgb(224,224,224),rgb(240,240,240));
  background-image :         linear-gradient(rgb(224,224,224),rgb(240,240,240));
}

input[type=checkbox]:not(old):checked + label > span:before{
  content     : '✓';
  display     : block;
  width       : 1em;
  color       : #566e07;
  font-size   : 0.875em;
  line-height : 1em;
  text-align  : center;
  font-weight : bold;
}

input[type=radio]:not(old):checked +  label > span > span{
  display          : block;
  width            : 0.5em;
  height           : 0.5em;
  margin           : 0.125em;
  border           : 0.0625em solid rgb(115,153,77);
  border-radius    : 0.125em;
  background       : rgb(153,204,102);
  background-image :    -moz-linear-gradient(rgb(179,217,140),rgb(153,204,102));
  background-image :     -ms-linear-gradient(rgb(179,217,140),rgb(153,204,102));
  background-image :      -o-linear-gradient(rgb(179,217,140),rgb(153,204,102));
  background-image : -webkit-linear-gradient(rgb(179,217,140),rgb(153,204,102));
  background-image :         linear-gradient(rgb(179,217,140),rgb(153,204,102));
}
