
/* BANNERS */

/* 728x90 */
.superbanner {
  cursor: pointer;
  position: relative;
  max-width: 728px;
  max-height: 90px;
  background-color: #ffffff;
  border: 0px solid #a3a3a3;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.superbanner img{
  width: 100%;
  height: auto;
}

/* 300x250 */
.boxbanner {
  cursor: pointer;
  position: relative;
  max-width: 300px;
  max-height: 250px;
  background-color: red;
  border: 0px solid #a3a3a3;
  margin-bottom: 10px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.boxbanner img{
  width: 100%;
  height: auto;
}

.doublebox{
  cursor: pointer;
  position: relative;
  width: 300px;
  height: auto;
  background-color: #ffffff;
  border: 0px solid #a3a3a3;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box
}
.doubleboxH{
  cursor: pointer;
  position: relative;
  width: 600px;
  height: 250px;
  background-color: #ffffff;
  border: 0px solid #a3a3a3;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box
}
.doubleboxhorizontal{
  cursor: pointer;
  position: relative;
  width: 100%;
  height: 250px;
  background-color: #ffffff;
  border: 0px solid #a3a3a3;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  text-align: center;
}
.doubleboxhorizontal img{
  width: 100%;
  max-width: 620px;
  height: auto;
  max-height: 250px;
}
/* BANNERS */



