@charset "UTF-8";

@font-face {
  font-family: "pecuarios-iconset";
  src:url("fonts/pecuarios-iconset.eot");
  src:url("fonts/pecuarios-iconset.eot?#iefix") format("embedded-opentype"),
    url("fonts/pecuarios-iconset.woff") format("woff"),
    url("fonts/pecuarios-iconset.ttf") format("truetype"),
    url("fonts/pecuarios-iconset.svg#pecuarios-iconset") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "pecuarios-iconset" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "pecuarios-iconset" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrowl:before {
  content: "\6c";
}
.icon-arrowr:before {
  content: "\72";
}
.icon-avicultura:before {
  content: "\61";
}
.icon-filtrar:before {
  content: "\65";
}
.icon-ganaderia:before {
  content: "\67";
}
.icon-like:before {
  content: "\6b";
}
.icon-login:before {
  content: "\75";
}
.icon-love:before {
  content: "\69";
}
.icon-more:before {
  content: "\6d";
}
.icon-organizar:before {
  content: "\71";
}
.icon-search:before {
  content: "\73";
}
.icon-porcicultura:before {
  content: "\70";
}
.icon-videoplay:before {
  content: "\76";
}
.icon-user:before {
  content: "\6f";
}
.icon-facebook:before {
  content: "\66";
}
.icon-twitter-alt:before {
  content: "\74";
}
.icon-youtube:before {
  content: "\79";
}
.icon-email-mail-streamline:before {
  content: "\62";
}
.icon-bolsatrabajo:before {
  content: "\63";
}
.icon-clasificados:before {
  content: "\64";
}
.icon-logout:before {
  content: "\68";
}
.icon-logoaltech:before {
  content: "\6e";
}
.icon-economia:before {
  content: "\77";
}
.icon-noticias:before {
  content: "\78";
}
.icon-engrane:before {
  content: "\7a";
}
.icon-eventos:before {
  content: "\42";
}
.icon-fotos:before {
  content: "\43";
}
.icon-empresas:before {
  content: "\41";
}
.icon-razas:before {
  content: "\44";
}
.icon-amveb:before {
  content: "\45";
}
.icon-productos:before {
  content: "\46";
}
.icon-vistas:before {
  content: "\47";
}
.icon-video:before {
  content: "\48";
}
.icon-dislike:before {
  content: "\6a";
}
