#principalpic
{
	width:99.6%;height:400px;margin:auto;border:1px solid black;background:#333;
	margin-bottom:0.5vmin;
}


#autorpic
{
	width:50%;height:200px;margin:auto;border:1px solid black;background:#333;
	margin-bottom:0.5vmin;
}

#redes_lista li
{
	list-style: none;
}

.lb{
    display: inline-block;vertical-align: middle;
}



.smallinput{
font-family: 'Raleway', sans-serif;
padding:3vmin;font-size:1vmax;margin:auto;
border-bottom-right-radius:2.5vmin;
border-top-left-radius:1vmin;
color:#333;font-weight:400;
width:90%;margin:1vmin 0px;
background:#EEE;
}


.roundlogop{
    width:12vmin;height:12vmin;
    border-radius:10vmin;
    background-size: cover;
    background-color:#666;
    margin:2vmin auto;

}

.minigallery{
    width:15%;height:auto;padding:2px;
    background-size: cover;background-repeat: no-repeat;
    border-top-left-radius: 2vmin;
    margin:1vmin;
    word-wrap: break-word;
    vertical-align: top;
}



.feed li{ 
    list-style: none;
    display: inline-block;
    margin: 2vmin;
    border-bottom: 1px dotted #aaa;
    padding: 2vmin;
 }