.backgroundred{
  background-color: red;
}
.backgroundgreen{
  background-color: green;
}
.backgroundpurple{
  background-color: purple;
}
.backgroundblack{
  background-color: black;
}
.backgroundwhite{
  background-color: white!important;
}

/*********************  MODIFICADORES BOOTSTRAP  *********************/
body{
  line-height: auto!important;
  font-weight: normal;
  font-size: 13px;
  -moz-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  background: url('../images/base/bg.png');
}
body > section {
    padding: 10px 0 0 0;
}
/*.row {
    margin-right: 0;
    margin-left: 0;
}*/
.internalrow{
  margin-right: 0;
  margin-left: 0;
}
ul{
  list-style: none;
}
/*********************  MODIFICADORES BOOTSTRAP  *********************/

/*********************  GENERALES  *********************/
.displayblock{
  display: inline-block;
}
.displaynone{
  display: none;
}
.height40{
  min-height: 40px;
}
.nomargin{
  margin: 0;
}
.marginr10{
  margin-right: 10px;
}
.marginl10{
  margin-left: 10px;
}
.margint10{
  margin-top: 10px;
}
.marginb10{
  margin-bottom: 10px;
}
.margint0{
  margin-top: 0 !important;
}
.nopadding{
  padding: 0;
}
.paddingr10{
  padding-right: 10px;
}
.paddingl10{
  padding-left: 10px;
}
.paddingt10{
  padding-top: 10px;
}
.paddingb10{
  padding-bottom: 10px;
}

.textalignl{
  text-align: left;
}
.textalignr{
  text-align: right;
}
.textalignc{
  text-align: center;
}
.colorgrisa3{
  color: #a3a3a3;
}
.floatr{
  float: right;
}
.floatl{
  float: left;
}
.floatc{
  margin: 0 auto;
  text-align: center;
}
.font20{
  font-size: 20px;
}
.iconPec {
  font-family: pecuarios-iconset;
  color: #fff;
  font-size: 25px;
  text-transform: none;
  font-weight: 300;
}
.dividerbottom{
  border-bottom: 1px solid #e6e6e6;
}
.bgTextureLines{
  background: url('../images/base/texturarayas.png');
}

.lockeditem{
  opacity: 1 !important;
}
.lockeditem .overlayerIconImg{
  width: 250px !important;
}
#breadcrumbs{
  height: 40px;
    color: #6d6d6d;
  font-style: italic;
  padding: 0px;
  line-height: 40px;
}
#titlePleca{
  height: 100px;
  background: url(../images/magazine/tituloPleca.jpg);
  background-position: center;
  padding-top: 0px;
  background-size: cover;
  background-attachment:fixed;
}
#titlePleca h1{
  font-family: 'Open Sans Condensed', sans-serif;
  text-transform: uppercase;
  margin: 0px!important;
  padding: 0px!important;
  height: 100px;
  line-height: 100px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-transform: uppercase;
}
.absolutet0{
  top: 0px;
  position: absolute;
}
.absoluter0{
  right: 0px;
  position: absolute;
}
.absoluteb0{
  bottom: 0px;
  position: absolute;
}
.absolutel0{
  left: 0px;
  position: absolute;
}
.fontsize20{
  font-size: 20px;
}
/*********************  GENERALES  *********************/

/*********************  HEADER  *********************/
.top-bar {
    min-height: 50px;
    padding: 0;
    background-color: #ffffff;
    border-bottom: none;
    line-height: 50px;
}

/* ICONOS REDES SOCIALES */
.socialicons a:link{
  color: #a3a3a3
}
ul.social-share li a {
    background: transparent;
    line-height: 25px;
    text-align: center;
    border-radius: 0;
    font-size: 17px;
}
ul.social-share li a:hover {
    background: transparent;
}
.fbiconcolor{
  color: #a3a3a3;
  width: 25px;
  height: 25px;
  line-height: 25px;
  transition: all 0.3s ease-in;
}
.fbiconcolor:hover{
  color: #4a6ea9;
  transition: all 0.3s ease-in;
}
.ticoncolor{
  color: #a3a3a3;
  width: 25px;
  height: 25px;
  line-height: 25px;
  transition: all 0.3s ease-in;
}
.ticoncolor:hover{
  color: #13b5ea;
  transition: all 0.3s ease-in;
}
.yticoncolor{
  color: #a3a3a3;
  width: 25px;
  height: 25px;
  line-height: 25px;
  transition: all 0.3s ease-in;
}
.yticoncolor:hover{
  color: #e64a41;
  transition: all 0.3s ease-in;
}
/*BTN REGISTRATE*/
.topbarBtnReg{
  position: relative;
  width: 100%;
  height: 40px;
  margin: 5px auto;
  margin-bottom: 5px;
  text-align: center;
  color: #ffffff;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 15px;
  font-weight: bold;
  background-color: #f16521;
  line-height: 40px;
  cursor: pointer;
  transition: all 0.3s ease-in;
}
.topbarBtnReg:hover{
  background-color: #6d6d6d;
  transition: all 0.3s ease-in;
}
.topbarIcoReg{
  margin-left: -91px;
}
.txRegTb{
  position: absolute;
  padding-left: 10px;
}
/*BTN LOGIN*/
.topbarBtnLogin{
  color: #f16521;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
  background-color: #ffffff;
}
.topbarBtnLogin:hover{
  color: #6D6D7E;
  background-color: #e3e3e3;
}
/*BUSQUEDA*/
.topbarSearchBtn{
  position: relative;
  width: 50px;
  height: 50px;
  background-color: #496201;
  line-height: 50px;
  color: #ffffff;
  font-size: 25px;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease-in;
}
.topbarSearchBtn:hover{
  background-color: #f16521;
  transition: all 0.3s ease-in;
}
#searchBox{
  position: absolute;
}
/*LOGO HEADER*/
.imgSVGlogo {
    width: auto;
    height: 87px;
}

/* OVERLAYER */
.overlayerBtnImg{
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.8);
  cursor: pointer;
  transition: all 0.3s ease-in;
}
.overlayerBtnImg:hover{
  opacity: 1;
  transition: all 0.3s ease-in;
}
.overlayerIconImg{
  width: 90px;
  text-align: center;
  position: absolute;
  top: 50%;
  bottom: 0;
  left: 0;
  right: 0;
  height: 90px;
  padding: 0;
  margin: auto;
  margin-top: -45px;
}
.overlayerIconImg h3{
  color: #fff;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
}
.iconPecOverlayer{
  font-family: pecuarios-iconset;
  color: #fff;
  font-size: 50px;
  text-transform: none;
  font-weight: 300;
}
/*********************  HEADER  *********************/

/*********************  NAV BAR  *********************/
.navbar {
  font-weight: bold;
  padding: 0px;
  background: #81981b;
  background: -moz-linear-gradient(top, #81981b 0%, #566e07 99%);
  background: -webkit-linear-gradient(top, #81981b 0%,#566e07 99%);
  background: linear-gradient(to bottom, #81981b 0%,#566e07 99%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#81981b', endColorstr='#566e07',GradientType=0 );;
}
.navbar-nav {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 0;
}
.navbar-nav>li {
    padding-bottom: 0px;
}

.navbar-nav>li {
    margin-left: 6px;
}
.navbar-inverse .navbar-nav > li > a {
    padding: 10px 12px;
    height: 50px;
}
.navbar-inverse .navbar-nav > li > a {
    border-radius: 0px;
}
.dropmenupec {
    height: 30px;
    padding: 0;
}
.dropmenupec > a {
    height: 30px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 12px;
    font-weight: bold !important;
    text-transform: uppercase;
    padding: 0 0 0 10px !important;
    color: #2a2a2a !important;
    background-color: #ffffff;
}
.dropmenupec > a > span {
    width: 30px;
    height: 30px;
    margin: 0;
    padding: 0;
    position: absolute;
    color: inherit;
    line-height: 30px;
    font-size: 20px;
    text-align: center;
}
.dropmenupec > a > p {
    height: 30px;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 45px;
    line-height: 30px;
}
.navbar-inverse .navbar-toggle {
    border-color: #ffffff;
}
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
    background-color: #f16521;
}
/*********************  NAV BAR  *********************/
/*.navbar-default{
  border: none;
}
#menuPrincipal{
  height: 50px;
  color: #fff;
  font-weight: bold;
  padding: 0px;
  background: #81981b;
  background: -moz-linear-gradient(top, #81981b 0%, #566e07 99%);
  background: -webkit-linear-gradient(top, #81981b 0%,#566e07 99%);
  background: linear-gradient(to bottom, #81981b 0%,#566e07 99%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#81981b', endColorstr='#566e07',GradientType=0 );;
}
.siteSelector{
  background-color: #496201;
  width: 50px;
  height: 50px;
}
.siteSelector>a{
  padding: 0px !important;
  margin: 0px;
  text-align: center;
  font-size: 30px;
  line-height: 54px !important;
  cursor: pointer;
}
.siteSelectorG{
  height: 50px;
  color: #ffffff;
  cursor: pointer;
  transition: all 0.3s ease-in;
}
.siteSelectorG:hover{
  background-color: #f16521;
  color: #ffffff;
  transition: all 0.3s ease-in;
}
.siteSelectorP{
  height: 50px;
  color: #ffffff;
  background-color: #af3e0d;
  cursor: pointer;
  line-height: 54px !important;
  transition: all 0.3s ease-in;
}
.siteSelectorP:hover{
  background-color: #f16521;
  color: #ffffff;
  transition: all 0.3s ease-in;
}
.siteSelectorA{
  height: 50px;
  color: #ffffff;
  background-color: #ebca3f;
  cursor: pointer;
  line-height: 54px !important;
  transition: all 0.3s ease-in;
}
.siteSelectorA:hover{
  background-color: #f16521;
  color: #ffffff;
  transition: all 0.3s ease-in;
}
.siteSelectorDrop {
    background-color: red;
    width: 50px;
    min-width: 50px;
    padding: 0;
    margin: 0;
    border: none;
}
.siteSelectorDrop li{
  width: 50px;
}
.siteSelectorDrop li .yamm-content{
  text-align: center;
  font-size: 30px;
  width: 50px;
  height: 50px;
  border-radius: 0;
  margin: 0;
  padding: 0;
}
.mainmenuPecTitle{
  color: #ffffff !important;
}*/


/*********************  CARRUSEL  *********************/
.mobilesliderMenu{
  display: none;
}
.slide-margin{
  margin-top: 1px !important;
  height: 500px;
}

.carousel-content h1{
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 50px;
  overflow:hidden;
  white-space:nowrap;
  text-overflow: ellipsis;
  text-transform: uppercase;
}
.carousel-content p{
    display: -webkit-box;
    line-height: auto;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #ffffff !important;
}
.navcarrusel{
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 0;
    bottom: 0;
    height: 40px;
    margin-bottom: 10px;
    padding-left: 10px;
    position: absolute;
    z-index: 123456;
}
.carruselBtnBox {
    width: 40px;
    height: 40px;
    background-color: #a3a3a3;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
    margin: 0;
    padding: 0;
    display: inline-block;
}
.carruselBtnBox:hover {
    width: 40px;
    height: 40px;
    background-color: #496201;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
    margin: 0;
    padding: 0;
    display: inline-block;
}
#main-slider .carousel-indicators .active {
    width: 20px;
    height: 20px;
    background-color: #496201;
    margin: 0 15px 0 0;
    border: none;
    position: relative;
}
#main-slider .carousel-indicators .active:after {
    position: absolute;
    content: "";
    width: 24px;
    height: 24px;
    border-radius: 100%;
    background: #496201;
    border: none;
    left: -3px;
    top: -3px;
}
#main-slider .carousel-indicators li:after {
    background-color: rgba(163,163,163,0.5);
    border: none;
}
/*********************  CARRUSEL  *********************/

/*********************  SECTIONS  *********************/
#bodySite > section {
/*    padding: 10px 0 0 0;
*/}
/*********************  SECTIONS  *********************/

/*********************  DESTACADO/S  *********************/
.mainDestacado{
  background-color: #ffffff;
  padding: 0;
}
.fotoDestacado{
}
.fotoDestacado img{
  width: 100%;
  height: auto;
}
.fotoBoxDestacado{
  overflow: hidden;
  position: relative;
}
.tagsDestacado{
  background-color: green;
  height: 30px;
  /*margin-top: -40px;*/
  margin-bottom: 10px;
  position: absolute;
  margin-top: -40px;
}
.tagsDestacado ul{
  height: 30px;
  list-style: none;
  padding: 0;
}
.tagsDestacado ul li{
  width: auto;
  max-width: 150px;
  height: 30px;
  background-color: green;
  float:left;
}
.titleDestacado{
  min-height: 45px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: bold;
}
.exerptDestacado{
  color: #6d6d6d;
  min-height: 90px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.exerptDestacado p{
  display: -webkit-box;
  line-height: auto;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.bbarDestacado{
  background-color: #f5f5f5;
  min-height: 40px;
  color: #A3A3A4;
}
/*Tags*/
.tagicontxDest{
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 12px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: bold;
  width: auto;
  height: 30px;
  display: inline-block;
  background-color: #3c3c3c;
  padding-right: 10px;
  padding-left: 10px;
}
.iconPecTags {
  font-family: pecuarios-iconset;
  color: #fff;
  font-size: 20px;
  line-height: 30px;
  text-transform: none;
  font-weight: 300;
  margin-right: 10px;
}
.tagtxDest{
  height: 30px;
  line-height: 30px;
  float: left;

}
.tagrankDest{
  width: 30px;
  height: 30px;
  display: inline-block;
  background-color: #ffffff;
  text-align: center;
  line-height: 30px;
}
/* BARRA TITULO */
.titleDestacado h2{
  line-height: auto;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 15px;
  color: #3c3c3c;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  margin-top: 15px;
  padding-bottom: 5px;
  min-height: 35px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-transform: uppercase;
}
.titleLoveDestacado{
  width: 45px;
  height: 45px;
  float: right;
  text-align: right;
  line-height: 45px;
}
.iconPecLove{
  font-family: pecuarios-iconset;
  color: #6d6d6d;
  font-size: 20px;
  text-transform: none;
  font-weight: 300;
  cursor: pointer;
  transition: all 0.3s ease-in;
}
.iconPecLove:hover{
  color: #b60b0b;
  transition: all 0.3s ease-in;
}
.activeLove{
  color: #b60b0b !important;
}
/*LIKES*/
.likeCronoLi{
  font-style: italic;
  margin-top: -10px;
  margin-bottom: 0;
  padding-bottom: 0;
  height: 33px;
}

.likeCronoLi ul{

}
.likeCronoLi ul li{
  width: auto !important;
  height: 30px;
  line-height: 30px;
  color: #6b6b6b;
}
/* BARRA BOTTOM */
.bbarDestacado ul{
  height: 30px;
  list-style: none;
  padding: 0;
  margin-top: 5px;
  margin-bottom: 0;
}
.bbarDestacado ul li {
  width: auto;
  max-width: 150px;
  height: 30px;
  float: left;
  line-height: 30px;
  color: #6b6b6b;
  padding-right: 10px;
}
.iconPecBbar{
  color: #A3A3A4;
  font-family: pecuarios-iconset;
  font-size: 20px;
  line-height: 30px;
  text-transform: none;
  font-weight: 300;
}
.bbarVerDestacado{
  width: 40px;
  height: 40px;
  background-color: #a3a3a3;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
  margin: 0;
  padding: 0;
  display: inline-block;
  float: right;
  transition: all 0.3s ease-in;
}
.bbarVerDestacado:hover{
  background-color: #496201;
  transition: all 0.3s ease-in;
}

/*********************  BARRA VERDE  ********************/
.greenbar{
  background: #81981b;
  background: -moz-linear-gradient(top, #81981b 0%, #566e07 99%);
  background: -webkit-linear-gradient(top, #81981b 0%,#566e07 99%);
  background: linear-gradient(to bottom, #81981b 0%,#566e07 99%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#81981b', endColorstr='#566e07',GradientType=0 );
  font-size: 11px;
  color: #fff;
  min-height: 40px;
  margin-top: 10px;
}
.greenbar h2 {
  font-weight: bold;
  font-family: 'Open Sans Condensed', sans-serif;
  color: #4e4e4e;
  margin: 0;
  padding: 0;
  color: #fff;
  line-height: 40px;
}
.greenbarFilter{

}
.greenbarFilter ul {
  width: 100%;
  list-style: none;
  padding: 0px;
  margin: 0;
  height: 40px;
}
.greenbarFilter ul li{
  height: 40px;
  line-height: 40px;
  float: right;
}
.greenbarFilter ul > li:nth-child(2n+1){
padding-right: 15px;
padding-left: 10px;
}
.iconPecBarraverde{
  font-family: pecuarios-iconset;
  color: #fff;
  font-size: 18px;
  line-height: 30px;
  text-transform: none;
  font-weight: 300;
  margin-top: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in;
}
.iconPecBarraverde:hover{
  color: #f16521;
  transition: all 0.3s ease-in;
}

/*********************  BARRA VERDE  ********************/

/*********************  LISTADO  *********************/
/* FOTO */
.listTwoCol{
  font-family: 'Open Sans', sans-serif;
  color: #6d6d6d;
  font-size: 13px;
}
.listTwoCol ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.listTwoCol ul li{
  float: left;
  color: #6b6b6b;
  width: 50%;
  margin-bottom: 10px;
}
.listTwoCol ul > li:nth-child(2n+1){
padding-right: 5px;
}
.listTwoCol ul > li:nth-child(2n){
padding-left: 5px;
}
.fotoCrono{
}
.fotoCrono img {
    width: 100%;
    height: auto;
}
.fotoBoxCrono{
    overflow: hidden;
    position: relative;
}
/* TAGS */
.tagsCrono{
  height: 30px;
  /* margin-top: -40px; */
  margin-bottom: 10px;
  position: absolute;
  margin-top: -40px;
}
.tagsCrono ul li{
  width: auto;
}
.tagicontxCrono{
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 12px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: bold;
  width: auto;
  height: 30px;
  display: inline-block;
  background-color: #3c3c3c;
  padding-left: 10px;
}
.tagtxCrono{
  height: 30px;
  line-height: 30px;
  float: left;
}
.tagrankCrono{
  width: 30px;
  height: 30px;
  display: inline-block;
  background-color: #ffffff;
  text-align: center;
  line-height: 30px;
}
/* TITULO */
.titleCrono{
  min-height: 45px;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: bold;
  font-weight: normal;
  font-size: 13px;
}
.titleCrono h2 {
    line-height: auto;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 15px;
    color: #3c3c3c;
    padding: 0;
    margin: 0;
    text-transform: uppercase;
    margin-top: 15px;
    padding-bottom: 5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-transform: uppercase;
}
.titleLoveCrono {
    width: 45px;
    height: 45px;
    float: right;
    text-align: right;
    line-height: 45px;
}
.btnlikeCrono{
  cursor: pointer;
  transition: all 0.3s ease-in;
}
.btnlikeCrono:hover{
  color: #4a6ea9;
  transition: all 0.3s ease-in;
}
.btnLikeActive{
  color: #4a6ea9;
}
.autorInfoCrono{

}
.autorInfoCrono ul li {
    width: auto;
    max-width: 150px;
    height: 30px;
    float: left;
    line-height: 30px;
    color: #6b6b6b;
    padding-right: 10px;
}
.exerptCrono{
    color: #6d6d6d;
    min-height: 90px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.exerptCrono p {
    display: -webkit-box;
    line-height: auto;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.exerptCrono h2 {
    line-height: auto;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 15px;
    color: #3c3c3c;
    padding: 0;
    margin: 0;
    text-transform: uppercase;
    margin-top: 15px;
    padding-bottom: 5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-transform: uppercase;
}
/* BARRA BOTTOM */
.bbarCrono{
  background-color: #f5f5f5;
  min-height: 40px;
  color: #A3A3A4;
}
.bbarCrono ul {
    height: 30px;
    list-style: none;
    padding: 0;
    margin-top: 5px;
    margin-bottom: 0;
}
.bbarCrono ul li {
    width: auto;
    max-width: 150px;
    height: 30px;
    float: left;
    line-height: 30px;
    color: #6b6b6b;
    padding-right: 10px;
    margin-bottom: 0px;
}
.bbarVerCrono{
  width: 40px;
  height: 40px;
  background-color: #a3a3a3;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
  margin: 0;
  padding: 0;
  display: inline-block;
  float: right;
  transition: all 0.3s ease-in;
}
.bbarVerCrono:hover{
  background-color: #496201;
  transition: all 0.3s ease-in;
}
/*********************  LISTADO  *********************/

/*********************  LO MAS LEIDO HORIZONTAL  *********************/

.lomasBoxHor{
  min-height: 250px;
}
.titlelomasHor h1{
  font-size: 25px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  color: #6d6d6d;
  /* border-bottom: 1px solid #e9e9e9; */
  padding: 0;
  margin: 10px;
}
.titlelomasHor .iconPec{
  color: #6d6d6d;
  font-size: 20px;
  /* float: left; */
  width: 50px;
  display: inline-block;
  transition: all 0.3s ease-in;
}
.titlelomasHor .iconPec:hover{
  color: #496201;
  transition: all 0.3s ease-out;
}
.itemlomasHor{

}
.itemlomasHor ul{
  list-style: none;
  padding: 0;
  margin: 0;
}
.itemlomasHor ul li{
  width: 50%;
  margin-bottom: 10px;
  background: #f5f5f5;
  transition: all 0.3s ease-out;
  float: left;
}
.itemlomasHor ul li:hover{
  background: #A3A3A4;
  transition: all 0.3s ease-out;
}
.fotoLiHor{

}
.fotoLiHor img {
    width: 100%;
    height: auto;
}
.fotoBoxLiHor{
  overflow: hidden;
  position: relative;
}

.tagsLiHor{
  height: 30px;
  /* margin-top: -40px; */
  margin-bottom: 10px;
  position: absolute;
  margin-top: -30px;
}
.tagicontxLihor{
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 12px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: bold;
  width: auto;
  height: 30px;
  display: inline-block;
  background-color: #3c3c3c;
  padding-left: 10px;
}
.titleLiHor{
  min-height: 45px;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: bold;
  font-weight: normal;
  font-size: 13px;
}
.titleLiHor h2 {
    /*line-height: auto;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 15px;
    color: #3c3c3c;
    padding: 0;
    margin: 0;
    text-transform: uppercase;
    margin-top: 15px;
    padding-bottom: 5px;
    display: -webkit-box;
    line-height: auto;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;*/
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 15px;
    color: #3c3c3c;
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 5px;
    display: -webkit-box;
    line-height: auto;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.titleLoveLiHor{
    width: 45px;
    height: 45px;
    float: right;
    text-align: right;
    line-height: 45px;
}
.iconPecLove{
    font-family: pecuarios-iconset;
    color: #6d6d6d;
    font-size: 20px;
    text-transform: none;
    font-weight: 300;
    cursor: pointer;
    transition: all 0.3s ease-in;
}
.tagicontxLiHor {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 12px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;
    width: auto;
    height: 30px;
    display: inline-block;
    background-color: #3c3c3c;
    padding-left: 10px;
}
/*********************  LO MAS LEIDO HORIZONTAL  *********************/

/*********************  EVENTOS HOTRIZONTAL  *********************/
.itemlomasHor{


}
.itemSmLiHo{}
.itemSmLiHo ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.itemSmLiHo ul li{
  width: 50%;
  height: 60px;
  margin-bottom: 10px;
  background: #f5f5f5;
  float: left;
  transition: all 0.3s ease-out;
}
.itemSmLiHo ul li:hover {
    background: #A3A3A4;
    transition: all 0.3s ease-out;
}
.fechaSmLiHo{
  font-family: 'Open Sans', sans-serif;
  width: 50%;
  height: 60px;
  color: #ffffff;
  background: #a3a3a3;
  float: left;
  text-align: center;
}
.dayTxSmLiHo{
  font-size: 10px;
  text-transform: uppercase;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-transform: uppercase;
}
.daySmLiHo{
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 29px;
  font-weight: bold;
  height: 30px;
  line-height: 30px;
}
.yearSmLiHo{
  font-size: 10px;
  text-transform: uppercase;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-transform: uppercase;
}
.fotoSmLiHo{
  width: 50%;
  float: left;
  height: 60px;
  border: 5px solid #a3a3a3;
  background-size: cover!important;
  background-position: center!important;
}
.fotoSmLiHo img{
  width: 100%;
  height: auto;
}

.titleSmLiHo h2 {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 15px;
  color: #3c3c3c;
  text-transform: uppercase;
  margin-top: 15px;
  margin-bottom: 5px;
  display: -webkit-box;
  line-height: auto;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.eventosHPAg {
  height: 40px;
  position: relative;
  bottom: 0;
}
.eventosHPAg ul{
  padding: 0;
  text-align: center;
}
.eventosHPAg ul li{
  width: 20px;
  height: 20px;
  background: #ffffff;
  border-radius: 50%;
  margin: 0 auto;
  display: inline-block;
  margin-top: 10px;
  border: 3px solid #a3a3a3;
  cursor: pointer;
}
.eventosHPAg ul li:hover{
  background: #496201;
}
/*********************  EVENTOS HOTRIZONTAL  *********************/


/*********************  TEMPORALMENTE LO IGNORO  *********************/

.bbarCrono h2{
  line-height: auto;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 15px;
  color: #3c3c3c;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  margin-top: 10px;
  padding-bottom: 5px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-transform: uppercase;
}
/*********************  TEMPORALMENTE LO IGNORO  *********************/

/*********************  HOME VIDEOS  *********************/
.videoHomeMini{
max-width: 195px;
}
.videoHomeMini img{
  width: 100%;
  height: auto;

}

/*********************  HOME VIDEOS  *********************/

/*********************  PRODUCTOS HOME HORIZZONTAL  *********************/
.titleprodHor h1{
  font-size: 25px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  color: #6d6d6d;
  /* border-bottom: 1px solid #e9e9e9; */
  padding: 0;
  margin: 10px;
}
.titleprodHor .iconPec{
  color: #6d6d6d;
  font-size: 20px;
  /* float: left; */
  width: 50px;
  display: inline-block;
  transition: all 0.3s ease-in;
}
.titleprodHor .iconPec:hover{
  color: #496201;
  transition: all 0.3s ease-out;
}
.listForCol {
    font-family: 'Open Sans', sans-serif;
    color: #6d6d6d;
    font-size: 13px;
}
.listForCol ul {
    list-style: none;
    padding: 0;
    margin: 0;
    float: left;
}
.listForCol ul > li:nth-child(2n+1) {
  float: left;
}
.listForCol ul li {
    float: left;
    color: #6b6b6b;
    width: 25%;
    margin-bottom: 10px;
    float: left;
}
.bbarProdHome{
  text-align: center;
}

/*********************  3er FOOTER  *********************/
.trdFooter{
  margin-bottom: 10px;
}
.trdFooterBox{
margin: 20px 0px;
}
.trdFooterIco .iconPecTags {
    font-size: 54px;
    background: #7cae4e;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    text-align: center;
    margin: 0 auto;
    line-height: 100px;
    cursor: pointer;
    transition: all 0.3s ease-in;
}
.trdFooterIco .iconPecTags:hover {
    background: #496201;    
    transition: all 0.3s ease-in;
}
.trdFooterIco {
    position: relative;
    height: 100px;
    width: 100px;
    margin: 0 auto;
}
.trdFooterTitle{

}
.trdFooterTitle h2 {
  max-width: 150px;
  line-height: auto;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 15px;
  color: #3c3c3c;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  margin: 15px auto;
  padding-bottom: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-transform: uppercase;
}
.trdFooterExcerpt > p{
  max-width: 225px;
  display: -webkit-box;
  line-height: auto;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0 auto;
}
/*********************  3er FOOTER  *********************/

/*********************  FOOTER  *********************/
footer{
  background: url('../images/base/texturarayas.png');
  border-bottom: 0px;
  border-top: 5px solid #496201;
  color: #6d6d6d;
  font-size: 13px;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-top: 30px;
}
.mainFooter{

}
#bottom{
color: #6d6d6d;
    font-size: 13px;
    background: transparent;
    border-bottom: 0px;
}
#bottom a{
    color: #6d6d6d;
}
#bottom a:hover, a:focus {
    color: #f16521;
}
#bottom ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
#bottom ul li {
    display: block;
    padding: 0px;
}
#bottom ul li:before {
    content: "\f111";
    font-family: FontAwesome;
    color: #496201;
    margin-right: 10px;
    font-size: 9px;
}
#bottom h3 {
    color: #496201;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 20px;
}
.btnContactSub {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bold;
    background-color: #f16521;
    border-radius: 0px;
    width: 100%;
    height: 40px;
    text-align: center;
    color: #fff;
    font-size: 15px;
    line-height: 20px;
    margin: 0px;
    padding: 0px;
    margin-left: 0px;
    transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
}
.btnContactSub:hover {
    width: 100%;
    height: 40px;
    background-color: #6d6d6d;
    color: #fff;
    border-radius: 0px;
    border: 0px;
    margin: 0px;
    margin-left: 0px;
    padding: 0px;
    transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
}
.btnNewsSub {
    font-family: pecuarios-iconset;
    background-color: #f16521;
    border-radius: 0px;
    width: 40px;
    height: 40px;
    text-align: center;
    color: #fff;
    font-size: 20px;
    line-height: 20px;
    margin: 0px;
    padding: 0px;
    margin-left: 0px;
    transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
}
.btnNewsSub:hover {
    width: 40px;
    height: 40px;
    background-color: #6d6d6d;
    color: #fff;
    border-radius: 0px;
    border: 0px;
    margin: 0px;
    margin-left: 0px;
    padding: 0px;
    transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
}
.form-control {
    height: 40px;
    border-radius: 0px;
    border: 1px solid #e3e3e3;
}
/*********************  FOOTER  *********************/

#subFooter{
    background: #81981b;
    background: -moz-linear-gradient(top, #81981b 0%, #566e07 99%);
    background: -webkit-linear-gradient(top, #81981b 0%,#566e07 99%);
    background: linear-gradient(to bottom, #81981b 0%,#566e07 99%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#81981b', endColorstr='#566e07',GradientType=0 );
    font-size: 11px;
    padding-top: 20px;
    padding-bottom: 10px;
    color: #fff;
    min-height: 50px;
}

#bottom .imgSVGlogo{
  height: 35px;
}
.legalBottom{
  color: #ffffff;
}

.socilaBottom ul {
    list-style: none !important;
    padding: 0;
    margin: 0;
}
.socilaBottom ul > li {
  list-style: none;
  display: inline-block;
  margin-left: 15px;
  display: block;
  padding: 0px;
  margin: 0;
  float: left;
  color: #ffffff;
}
.socilaBottom ul > li a{
  color: #ffffff !important;
}
.socilaBottom a {
    color: #fff;
}
.socilaBottom ul li:before {
    content: "" !important;
}
#subFooter a{
  color: #ffffff;
}

/************************   MAGAZINE  ************************/
/************************   MAGAZINE  ************************/
/************************   MAGAZINE  ************************/
/************************   MAGAZINE  ************************/
/************************   MAGAZINE  ************************/
/************************   MAGAZINE  ************************/
/************************   MAGAZINE  ************************/
/************************   MAGAZINE  ************************/

.btnCargarMas{
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: bold;
  font-size: 15px;
  color: #ffffff;
  background: #7cae4e;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  text-align: center;
  margin: 0 auto;
  line-height: 100px;
  cursor: pointer;
  transition: all 0.3s ease-in;
}
.btnCargarMas:hover{
  background:#496201;
  transition: all 0.3s ease-in;
}
.magSingleSpecs{

}
.smallAvatar{
  width: 50px;
  height: 50px;
  background: url('../images/temporales/avatarmini.jpg');
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  margin: 0 auto;
  cursor: pointer;
  transition: all 0.3s ease-in;
}
.smallAvatar:hover{
  background-size: 100%;
  transition: all 0.3s ease-in;
}
.singleInfoAutor{
  margin-bottom: 30px;
}
.singleContenido{
  
}
.singleContenido img{
  width: auto;
  height: auto;
}
.usabilityA ul{
  float: right;
}
.usabilityA ul li{
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: bold;
  color: #000000 !important;
  cursor: pointer;
  font-size: 18px;
}
.usabilityA ul li:hover{
  color: #f16521 !important;
}
.usabilityA ul > li:nth-child(1){
  font-size: 22px;
}
.usabilityA ul > li:nth-child(2){
  padding-top: 2px;
}
.usabilityA ul > li:nth-child(3){
  padding-top: 3px;
  font-size: 15px;
}
.boxComentariosH{
    border-top: 3px solid #496201;
}
/************************   MAGAZINE  ************************/
/************************   MAGAZINE  ************************/
/************************   MAGAZINE  ************************/
/************************   MAGAZINE  ************************/
/************************   MAGAZINE  ************************/
/************************   MAGAZINE  ************************/
/************************   MAGAZINE  ************************/
/************************   MAGAZINE  ************************/


/************************   PRODUCTOS LISTA  ************************/
/************************   PRODUCTOS LISTA  ************************/
/************************   PRODUCTOS LISTA  ************************/
/************************   PRODUCTOS LISTA  ************************/
/************************   PRODUCTOS LISTA  ************************/
/************************   PRODUCTOS LISTA  ************************/
/************************   PRODUCTOS LISTA  ************************/
/************************   PRODUCTOS LISTA  ************************/



/************************   PRODUCTOS LISTA  ************************/
/************************   PRODUCTOS LISTA  ************************/
/************************   PRODUCTOS LISTA  ************************/
/************************   PRODUCTOS LISTA  ************************/
/************************   PRODUCTOS LISTA  ************************/
/************************   PRODUCTOS LISTA  ************************/
/************************   PRODUCTOS LISTA  ************************/
/************************   PRODUCTOS LISTA  ************************/