/* Small devices (tablets, 768px and up) */
/* lg */ 
@media (min-width: 1200px) {
  /*********************  GENERALES  *********************/
  .mdDisplayNone{
    display: none;
  }
  .mdCenter{
    text-align: center;
  }

  /*********************  GENERALES  *********************/
}
/* md */
@media (min-width: 992px) and (max-width: 1199px) {
  /*********************  GENERALES  *********************/
  .mdDisplayNone{
    display: none;
  }
  .mdCenter{
    text-align: center;
  }

  /*********************  GENERALES  *********************/
}
/* sm */
@media (min-width: 768px) and (max-width: 991px) {
  /*********************  GENERALES  *********************/
  .smDisplayNone{
    display: none;
  }
  .smCenter{
    text-align: center;
  }

  /*********************  GENERALES  *********************/
}

/* xs */
@media (max-width: 767px) {

  /*********************  GENERALES  *********************/
  .xsDisplayNone{
    display: none;
  }
  .xsCenter{
    text-align: center;
  }
  .mobilesliderMenu{
    display: none;
  }
  .listTwoCol ul li{
    width: 100%;
  }
  .listTwoCol ul li:nth-child(2n+1){
    padding-right: 0px;
  }
  .listTwoCol ul li:nth-child(2n){
    padding-left: 0px;
  }
  .listForCol ul li {
    width: 50%;
  }
  .singleContenido img{
    width: 100%;
    height: auto;
  }
  /*********************  GENERALES  *********************/
}

/* XS Portrait */
@media (max-width: 480px) {
  /*********************  GENERALES  *********************/
  .exerptCrono{
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .mobilesliderMenu{
    display: block;
  }
  .navcarrusel{
    display: none;
  }
  .itemlomasHor ul li{
    width: 100%;
  }
  .itemSmLiHo ul li{
    width: 100%;
    margin-bottom: 10px;
    background: #f5f5f5;
    transition: all 0.3s ease-out;
    float: left;
  }
  .lockeditem .overlayerIconImg{
    width: 90px !important;
  }
  #titlePleca h1{
    font-size: 20px;
  }
  .singleContenido img{
    width: 100%;
    height: auto;
  }
  /*********************  GENERALES  *********************/

}
