{% extends 'manager/base.html'%}


{% block extras %}
    <link href="/static/css/crop/croppic.css" rel="stylesheet"></link>
    <link href="/static/css/manager_magazine.css" rel="stylesheet"></link>
     <link href="/static/theme/global/plugins/select2/css/select2.min.css" rel="stylesheet"></link>

{% endblock %}

{% block content %}

<form id="addphoto_form" method='post'>
  {% csrf_token %}
  <input type="hidden" name="idnoticia" id="idnoticia" value="{{id}}" />
  <input type="file" name="foto" id="galery" style="display:none;" />
</form>

        <!-- BEGIN CONTAINER -->
        <div class="page-container" ng-app='magazineApp'>
            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                <!-- BEGIN PAGE HEAD-->
                <div class="page-head">
                    <div class="container">
                    </div>
                </div>
                <!-- END PAGE HEAD-->
                <!-- BEGIN PAGE CONTENT BODY -->
                <div class="page-content">
                    <div class="container">
                        <!-- BEGIN PAGE BREADCRUMBS -->
                        <ul class="page-breadcrumb breadcrumb">
                            <li>
                                <a href="index.html">Magazine</a>
                                <i class="fa fa-circle"></i>
                            </li>
                            <li>
                                <span>Autores</span>
                            </li>
                        </ul>
                        <!-- END PAGE BREADCRUMBS -->
                        <!-- BEGIN PAGE CONTENT INNER -->
                        <div class="page-content-inner">
                        <div class="row">
                            <!-- BEGIN SAMPLE FORM PORTLET-->
                            <div class="col-md-6">
                                <div class="portlet light ">
                                    <div class="portlet-title">
                                        <div class="caption font-red-sunglo">
                                            <i class="glyphicon glyphicon-list-alt"></i>
                                            <span class="caption-subject bold uppercase"> MAGAZINE - AUTORES</span>
                                        </div>
                                    </div>
                                    <div class="portlet-body form">
                                        <div class="form-group form-md-line-input">
                                          <div id="autorpic">
                                            {% if 'static' in forma.fotoprincipal.value %}
                                              <img src="{{forma.fotoprincipal.value}}" height="100%"/>
                                            {% else %}
                                              {% if forma.fotoprincipal.value|length > 9 %}
                                                  <img src="/uploads/{{forma.fotoprincipal.value}}" height="100%"/>
                                              {% endif %}
                                           {% endif %}
                                          </div>
                                        </div>
                                        <form role="form" name="autor" action="/manager/addautor/" method="POST" class="sendit">
                                            {% csrf_token %}
                                            
                                            <input type="hidden" name="id" id="id_id" {% if id %}value="{{id}}" {% endif %}/>
                                            
                                            <div class="form-body">

                                                <div>
                                                </div>


                                                {% for p in forma.visible_fields %}
       
                                                    <p>
                                                        <label>{{p.label}}:</label>
                                                        {{p}}
                                                    </p>
                                                {% endfor %}

                                                {% for hidden in forma.hidden_fields %}
                                                {{ hidden }}
                                                {% endfor %}
                                                
                                        <div class="md-checkbox">
                                            <input type="checkbox" class="md-check" id="id_privado" name="privado" value="1">
                                            <label for="id_privado">
                                                <span></span>
                                                <span class="check"></span>
                                                <span class="box"></span>
                                                Es privado </label>
                                        </div>


                                            </div>
                                            <div class="form-actions noborder">
                                                <button type="submit" class="btn blue">Submit</button>
                                                <button type="button" class="btn default">Cancel</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="portlet light" >
                                    <h4 class="block">Ralacionar con Empresa</h4>
                                    <div class="input-group">
                                        <input type="text" class="form-control">
                                        <span class="input-group-btn">
                                            <button type="button" class="btn blue">Go!</button>
                                        </span>
                                    </div>
                                </div>



                                <div class="portlet light">

                                    <h4 class="block">Redes Sociales</h4>
                                    <br/>

                                    <div class="row">
                                        <div class="col-md-12">

                                            <div class="btn-group">
                                                <a class="btn btn-md green" href="#" data-toggle="dropdown"> 
                                                    <span id="cato_title">SELECCIONE RED SOCIAL</span>
                                                    <i class="fa fa-angle-down"></i>
                                                </a>
                                                <input type="hidden" id="red_select" name="red_select" />
                                                <ul class="dropdown-menu dropmenuaction pull-right" vic="cato_title" data-input='red_select'>
                                                    {% for s in redsocial %}
                                                    <li>
                                                        <a href="#{{s.name}}" data="{{s.pk}}">{{s.name}} </a>
                                                    </li>
                                                    {% endfor %}
                                                    <li class="divider"> </li>
                                                </ul>
                                            </div>

                                        </div>
                                    </div>
                                    <br/>

                                    <div class="row">
                                        <div class="col-lg-9">
                                            <ul id="redes_lista"></ul>
                                        </div>
                                    </div>
                                    
                                    <div class="row">
                                        <div class="col-md-12">

                                            <div class="input-group">
                                                <!-- /btn-group -->
                                                <input type="text" class="form-control" name="cuenta" id="id_cuenta">
                                                <div class="input-group-btn">
                                                    <button type="button" class="btn blue addred">Go!</button>
                                                </div>
                                                <!-- /btn-group -->
                                            </div>
                                            <!-- /input-group -->
                                        </div>
                                        <!-- /.col-md-6 -->
                                    </div>
                                </div>



                                <div class="portlet light">

                                    <h4 class="block">CURRICULUM {{forma.id}}</h4>

                                    <br/>
                                    <div class="row">
                                        <div class="col-md-12">

                                            <div class="input-group">
                                                <!-- /btn-group -->
                                                <input type="file" name="cv" id="id_cv"><br/>
                                                <div>
                                                    <button type="button" class="btn blue addred">Agregar C.V.</button>
                                                </div>
                                                <!-- /btn-group -->
                                            </div>
                                            <!-- /input-group -->
                                        </div>
                                        <!-- /.col-md-6 -->
                                    </div>
                                </div>




                            </div>
                            <!-- END SAMPLE FORM PORTLET-->
                        </div>
                        </div>
                        <!-- END PAGE CONTENT INNER -->
                        </div>
                        <!-- END PAGE CONTENT INNER -->
                    </div>
                </div>
                <!-- END PAGE CONTENT BODY -->
                <!-- END CONTENT BODY -->
            </div>
            <!-- END CONTENT -->
        </div>
        <!-- END CONTAINER -->


{% endblock %}


{% block extrajs %}

<script type="text/javascript">

text = '{{redes_autor|safe}}';
text = (text.substr(1,text.length-2));
if(text.length>6){
    var redes =   eval('(' + text + ')'); 
            $.each(redes,function(k,v){
            lis = document.createElement('li');
            iss = document.createElement('i');
            spass = document.createElement('span');
            $(iss).addClass('fa fa-'+v.red);
            $(spass).html(v.cuenta);
            $(lis).addClass('uppercase font-md theme-font').append(iss).append(spass);
            $('#redes_lista').append(lis);


        });

}
else{
  redes = [];  
} 




    var cropperOptions = {
          processInline:true,
          cropData:{
            "uid":'{{id}}',
            "portal":'autores',
            "tipo":'autor',
          },
          loaderHtml:'<i class="fa fa-spinner"></i>',
          //loadPicture:'/static/imgs/{{data.fotoprincipal}}',
          cropUrl:'/manager/crop/',
          rotateControls:true,
          doubleZoomControls:true,
          imgEyecandy:true,
          imgEyecandyOpacity:0.2,
          outputUrlId:'salida',
          onAfterImgCrop:function(response){
            $('#id_fotoprincipal').val(response.url);
            //$('#principalpic img').remove();
          
          }
        };

</script>

<script src='//cdn.tinymce.com/4/tinymce.min.js'></script>
<script src="/static/js/chumbucket.js"></script>
<script src="/static/manager/magazine/magazine-controlers.js"></script>
<script src="/static/js/crop/croppic.js"></script>
<script src="/static/theme/global/plugins/select2/js/select2.full.min.js"></script>

<script type="text/javascript">
            
  $(document).ready(function(){

    $('.addred').click(function(e){
        e.preventDefault();
        $('#redes_lista').html('');
        var red = $('#red_select').val();
        var cuenta = $('#id_cuenta').val();
        redad = {'red':red,'cuenta':cuenta};
        redes.push(redad);
        $('#red_select,#id_cuenta').val('');
        $('#id_redes').val(JSON.stringify(redes));

        $.each(redes,function(k,v){
            lis = document.createElement('li');
            iss = document.createElement('i');
            spass = document.createElement('span');
            $(iss).addClass('fa fa-'+v.red);
            $(spass).html(v.cuenta);
            $(lis).addClass('uppercase font-md theme-font').append(iss).append(spass);
            $('#redes_lista').append(lis);


        });
    });

    $('.id_privado').prop('indeterminate', true);

    $('#id_fechapub').daterangepicker(
    {
        singleDatePicker: true,
        showDropdowns: true,
        locale: {
            format: 'YYYY-MM-DD h:mm'
        }
    }
    );


    $('#demo').daterangepicker({}, function(start, end, label) {
      $('#id_fecha_des_beg').val(start.format('YYYY-MM-DD'));
      $('#id_fecha_des_end').val(end.format('YYYY-MM-DD'));

    });

    var cropperHeader = new Croppic('autorpic',cropperOptions);


    var params = {};

    $('.dropmenuaction li a').click(function(e){
        e.preventDefault();
        params.catpk = $(this).attr('href').replace('#','');
        params.name = $(this).text();
        params.value=$(this).attr('data');
        params.targetx = $(this).parents('ul:first').attr('vic');
        params.input = $(this).parents('ul:first').attr('data-input');
        $('#'+params.targetx).html(params.name);
        $('#'+params.input).val(params.value);

    });

  tinymce.init({
    selector: '#id_descrip',
    plugins: [
    'advlist autolink lists link image charmap print preview anchor',
    'searchreplace visualblocks code fullscreen',
    'insertdatetime media table contextmenu paste code'
  ]
  });
    // AJAX SEND DATA .--------------------------------------------------------
    // REQUIRE chumbucket.js file instead avobe this lines
    $('.sendit').submit(sendit);

  });

        </script>
{% endblock %}

