{% load staticfiles %}

<!DOCTYPE html>
<html lang="es">
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="description" content="">
      <meta name="author" content="">
      <title>Home | Pecuarios</title>
      <meta name="theme-color" content="#496201">
    
    <!-- core CSS -->
      <link href="/static/css/bootstrap.min.css" rel="stylesheet">
      <link href="/static/css/font-awesome.min.css" rel="stylesheet">
      <link href="/static/css/animate.min.css" rel="stylesheet">
      <link href="/static/css/prettyPhoto.css" rel="stylesheet">
      <link href="/static/css/main.css" rel="stylesheet">
      <link href="/static/css/responsive.css" rel="stylesheet">
      <link href="/static/css/pecuarios.css" rel="stylesheet">
      <link href="/static/css/pecuariosresponsive.css" rel="stylesheet">
      <link href="/static/css/banners.css" rel="stylesheet">
    <link href="https://file.myfontastic.com/CLfMwEfhBMMjxjeuc48xCf/icons.css" rel="stylesheet">    <!--[if lt IE 9]>
    <script src="/static/js/html5shiv.js"></script>
    <script src="/static/js/respond.min.js"></script>
    <![endif]-->       
    <link rel="shortcut icon" href="/static/images/ico/favicon.ico">


    <!-- FB analitycs -->


    <!-- FB analitycs -->


    <!-- Yamm MENU con Bootstrap 3 -->
      <link href="/static/yamm/yamm.css" rel="stylesheet">
      <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
      <!--if lt IE 9
      script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
      script(src='https://oss.maxcdn.com/libs/respond./static/js/1.3.0/respond.min.js')-->

      <!-- Yamm MENU con Bootstrap 3 -->

  </head>


  <body class="homepage pushmenu-push">
    <header>
      <!-- TOP BAR -->
      <div class="top-bar smDisplayNone xsDisplayNone">
        <div class="container-fluid nopadding">
          <div class="row nomargin">
                      <div class="col-xs-12 cool-sm-2 col-md-2">
                          <div class="social socialicons textalignl smCenter xsCenter">
                              <ul class="social-share"  style="line-height:40px;">
                                  <li><a href="#"><i class="fa fa-facebook fbiconcolor"></i></a></li>
                                  <li><a href="#"><i class="fa fa-twitter ticoncolor"></i></a></li>
                                  <li><a href="#"><i class="fa fa-youtube yticoncolor"></i></a></li>
                              </ul>
                         </div>
                      </div>
            <div class="col-xs-12 cool-sm-12 col-md-5 smDisplayNone xsDisplayNone"></div>
                      <div class="col-xs-6 cool-sm-6 col-md-3 ">
                          <div class="topbarBtnReg ">
                            <div class="iconPec topbarIcoReg displayblock">u</div>
                            <div class="txRegTb displayblock">REGÍSTRATE AQUÍ</div>
                          </div>
                      </div>
                      <div class="col-xs-6 cool-sm-6 col-md-1">
                          <div class="topbarBtnLogin textalignc">INGRESAR</div>
                      </div>
                      <div class="col-xs-12 cool-sm-1 col-md-1 nopadding textalignr">
                          <div id="tbSearchBtn" class="topbarSearchBtn">
                <div class="icon icon-search"></div>
                        </div>
                      </div>
                  </div>
        </div>
      </div>
      <!-- TOP BAR  -->

      <!-- LOGO AREA / SUPER BANNER -->
          <div id="headArea">
              <div class="container">
                  <div class="row">
                      <div class="col-xs-12 cool-sm-3 col-md-3 smCenter xsCenter margint10">

                          <a href="index.html"><img src="/static/images/logos/marcaweb.svg" class="imgSVGlogo" alt="Inicio" title="Home" /></a>

                      </div>
                      <div class="col-xs-12 cool-sm-9 col-md-9 margint10">
                          <div class="superbanner">
                              <img src="{{diamante.0.imagenlargo}}">
                          </div>
                      </div>
                  </div>
              </div><!--/.container-->
          </div>
      <!-- LOGO AREA / SUPER BANNER -->

      <!-- NAV BAR -->
      <nav class="navbar navbar-inverse margint10" role="banner">
          <div class="container nomargin nopadding">
              <div class="navbar-header">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                  </button>

              </div>
          
              <div class="collapse navbar-collapse navbar-right">
                  <ul class="nav navbar-nav">
                      <li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown">MAGAZINE <i class="fa fa-angle-down"></i></a>
                          <ul class="dropdown-menu ">
                              <li class="dropmenupec"><a href="magazine.html"><span class="iconPec">x</span> <p>Noticias</p></a>
                              </li>
                              <li class="dropmenupec"><a href="single.html"><span class="iconPec">I</span> <p>Artículos</p></a>
                              </li>
                              <li class="dropmenupec"><a href="magazine.html"><span class="iconPec">J</span> <p>Publicaciones</p></a>
                              </li>
                              <li class="dropmenupec"><a href="videosingle.html"><span class="iconPec">H</span> <p>Video</p></a>
                              </li>
                              <li class="dropmenupec"><a href="magazine.html"><span class="iconPec">w</span> <p>Economía</p></a>
                              </li>
                              <li class="dropmenupec"><a href="magazine.html"><span class="iconPec">n</span> <p>Capsulas nutricionales Altech</p></a>
                              </li>
                              <li class="dropmenupec"><a href="magazine.html"><span class="iconPec">E</span> <p>AMVEB Laguna</p></a>
                              </li>
                          </ul>
                      </li>
                      <li><a href="#">PRODUCTOS</a></li> 
                      <li><a href="#">SOCIOS</a></li>
                      <li><a href="#">EVENTOS</a></li>
                      <li><a href="#">FORO</a></li>
                      <li><a href="#">CLASIFICADOS</a></li>
                      <li><a href="#">BOLSA DE TRABAJO</a></li>
                      <li><a href="#">EMPRESAS</a></li>
                      <li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown">ESPECIALES <i class="fa fa-angle-down"></i></a>
                          <ul class="dropdown-menu ">
                              <li class="dropmenuesp"><a href="#"><div class="dropmenuesprazas"><img src="/static/images/base/menuEspecialesRaza.jpg"></div>
                                  <p><strong>Razas</strong><br>Consulta los orígenes y características de las principales razas de ganado en el mundo.</p></a>
                              </li>
                              <li class="dropmenuesp"><a href="#"><div class="dropmenuesprazas"><img src="/static/images/base/menuEspecialesRaza.jpg"></div>
                                  <p><strong>Razas</strong><br>Consulta los orígenes y características de las principales razas de ganado en el mundo.</p></a>
                              </li>
                          </ul>
                      </li>
                  </ul>
                  <ul class="nav navbar-nav siteselectionBox" style="margin:0;">
                      <li class="dropdown ">
                          <a href="#" class="dropdown-toggle siteganaderia" data-toggle="dropdown">
                              <span class="iconPec">g</span>
                          </a>
                          <ul class="dropdown-menu siteselector" style="min-width: 50px;">
                              <li class="siteavicultura">
                                  <a href="#" style="line-height: 40px;">
                                      <span class="iconPec">a</span>
                                  </a>
                              </li>
                              <li class="siteporcicultura">
                                  <a href="#" style="line-height: 40px;">
                                      <span class="iconPec">p</span>
                                  </a>
                              </li>
                          </ul>
                      </li>
                  </ul>
              </div>
          </div><!--/.container-->
      </nav><!--/nav-->
      <!--  NAV BAR -->
    </header>



{% block content %}
{% endblock %}



        <!--  MULTI ICON 3ER FOOTER -->
          <section class="trdFooter margint10 xsDisplayNone">
            <div class="container">
                <div class="row">
                    <div class="col-xs-4 col-sm-4 col-md-4">
                        <div class="trdFooterBox floatc">
                            <div class="trdFooterIco"><div class="iconPecTags floatl">K</div></div>
                            <div class="trdFooterTitle"><h2>BOLSA DE TRABAJO</h2></div>
                            <div class="trdFooterExcerpt">
                              <p>Hola es una muestra de texto aun no definido. Gracias por leer.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-4">
                        <div class="trdFooterBox floatc">
                            <div class="trdFooterIco"><div class="iconPecTags floatl">L</div></div>
                            <div class="trdFooterTitle"><h2>BOLSA DE TRABAJO</h2></div>
                            <div class="trdFooterExcerpt">
                              <p>Hola es una muestra de texto aun no definido. Gracias por leer.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-4">
                        <div class="trdFooterBox floatc">
                            <div class="trdFooterIco"><div class="iconPecTags floatl">M</div></div>
                            <div class="trdFooterTitle"><h2>BOLSA DE TRABAJO BOLSA DE TRABAJO BOLSA DE TRABAJO OLSA DE TRABAJO OLSA DE TRABAJO</h2></div>
                            <div class="trdFooterExcerpt">
                              <p>Hola es una muestra de texto aun no definido. Gracias por leer.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>    
        </section>
        <!--  MULTI ICON 3ER FOOTER -->

        <!-- FOOTER -->
      <footer>
        <div class="container">
                <div class="row">
                    <div id="bottom"class="col-xs-12 col-sm-12 col-md-12">
                      <div class="col-xs-12 col-sm-6 col-md-3">
                        <div class="widget">
                              <h3>CONTÁCTANOS</h3>
                                  <strong>Email</strong>
                                  <p><a href="mailto:mail@contacto@pecuarios.com">mail@contacto@pecuarios.com</a></p>
                                  <strong>Nacional sin costo</strong>
                                  <p>01800 000 12 34</p>
                                  <strong>Internacional sin costo EUA</strong>
                                  <p>01800 000 12 34</p>
                                  <span class="input-group-btn">
                                      <button class="btn btnContactSub col-xs-12" type="submit">ANUNCIATE CON NOSOTROS</button>
                                  </span>
                          </div>    
                      </div>
                      <div class="col-xs-12 col-sm-6 col-md-3">
                        <div class="widget">
                              <h3>MAPA DE SITIO</h3>
                              <ul>
                                  <li><a href="#">Magazine</a></li>
                                  <li><a href="#">Productos</a></li>
                                  <li><a href="#">Socios</a></li>
                                  <li><a href="#">Eventos</a></li>
                                  <li><a href="#">Foros</a></li>
                                  <li><a href="#">Clasificados</a></li>
                                  <li><a href="#">Bolsa de trabajo</a></li>
                                  <li><a href="#">Empresas</a></li>
                                  <li><a href="#">Especiales</a></li>
                              </ul>
                          </div>
                      </div>
                      <div class="col-xs-12 col-sm-6 col-md-3">
                        <div class="widget">
                              <h3>MI PERFIL</h3>
                              <ul>
                                  <li><a href="#">Información personal</a></li>
                                  <li><a href="#">Preferencias</a></li>
                                  <li><a href="#">Favoritos</a></li>
                                  <li><a href="#">Historial</a></li>
                              </ul>
                          </div>
                      </div>
                      <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="widget">
                    <h3>REGISTRATE AL NEWSLETTER</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing.</p>
                        <form>
                            <div class="input-group">
                                <input type="text" placeholder="mail@email.com" class="form-control">
                                <span class="input-group-btn">
                                    <button class="btn btnNewsSub" type="submit">b</button>
                                </span>
                            </div>
                        </form>
                        <h3>GRACIAS POR REGISTRARSE</h3>
                </div> 
                      </div>
                    </div>
          </div>
            </div>
          
      </footer>
        <!-- FOOTER -->
        <section>
          <div id="subFooter" class="container-fluid">
                <div class="row nomargin">
                    <div class="container">
                      <div class="row nopadding">
                        <div id="bottom"class="col-xs-12 col-sm-12 col-md-12">
                          <div class="col-xs-12 col-sm-1 col-md-1 xsCenter">
                                <a href="index.html"><img src="/static/images/logos/logoSimple.svg" class="imgSVGlogo" alt="Inicio" title="Home" /></a>
                            </div>
                          <div class="col-xs-12 col-sm-6 col-md-6 legalBottom xsCenter">
                    <p>Derechos reservados © 200-2016, pecuarios.com <a href="#">Aviso de privacidad</a></p>
                          </div>
                          <div class="col-xs-12 col-sm-5 col-md-5 socilaBottom xsDisplayNone">
                    <div class="social">
                        <ul class="social-share">
                            <li><a href="#"><i class="fbiconcolor fa fa-facebook "></i></a></li>
                            <li><a href="#"><i class="ticoncolor fa fa-twitter "></i></a></li>
                            <li><a href="#"><i class="yticoncolor fa fa-youtube "></i></a></li>
                        </ul>
                    </div>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
        </section>

      </div>
      <!--  PECUARIOS-CONTENT -->


    <!--  JS  -->
      <script src="/static/js/jquery.js"></script>
      <script src="/static/js/bootstrap.min.js"></script>
      <script src="/static/js/jquery.prettyPhoto.js"></script>
      <script src="/static/js/jquery.isotope.min.js"></script>
      <script src="/static/js/main.js"></script>
      <script src="/static/js/wow.min.js"></script>
          <!--  CUSTOM LINKS -->
    <script src="/static/js/pecuarios.js"></script>


</body>

</html>