{% extends 'webapp/base.html'%}


{% block content %}

<section id="breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
            <a href="index.html">Inicio</a> | <a href="magazine.html">Magazine</a> |  {{noticias.nombre_articulo}}
            </div>   
        </div>
    </div>
</section>



<section id="titledivider">
    <div class="container-fluid">
        <div class="row nopadding nomargin">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <h1 class="nopadding">{{noticias.nombre_articulo}}</h1>
            </div>   
        </div>
    </div>
</section>


 <section id="" class="">
       <div class="container">
            <div class="row">
                <div class="container">
                    <div class="col-xs-12 col-sm-12 col-md-8 nopadding">

                        <div class="col-xs-12 col-sm-12 col-md-12 whitebg nopadding marginbottom10"><!-- DESTACADO  -->
                            <div class="col-xs-12 col-sm-12 col-md-12 desitemimg nopadding">
                                <img src="{{noticias.fotoprincipal}}">
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12 margintop10 desitemimg">
                                <div class="col-xs-8 col-md-8 nopadding"><h3>{{noticias.nombre_articulo}}</h3></div>
                                <div class="col-xs-4 col-md-4 nopadding textalignr"><span class="iconPectwoCol btnfavorite">i</span></div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12 margintop10 nopadding ">  <!--   BARRA VERDE -->
                                <div class="col-xs-8 col-md-8 textalignl"><span class="iconPectwoCol">o</span> {{request.user}} | {{noticias.fechapub |date:"d/M/Y"}} <span class="iconPectwoCol">G</span> {{noticias.vistas}}</div>
                            </div> 

                            <div class="col-xs-12 col-sm-12 col-md-12">
                                <div class="col-xs-12 col-sm-12 col-md-12  paddingbottom10 margintop10">
                                    <div class="col-xs-1 col-sm-1 col-md-1  paddingbottom10 margintop10 ">
                                        <div class="miniavatar"></div>
                                    </div>

                                    


                                    <div class="col-xs-3 col-sm-3 col-md-3  paddingbottom10 margintop10 ">
                                        <div class="miniavatarInfo">
                                            
                                            {{noticias.artautores_set.all.0.autorpk.nombre_autor}}|  CDMX<br>
                                            24 marzo, 2015    03:15:54am
                                        </div>
                                    </div>
                                   
                                    <div class="col-xs-8 col-sm-8 col-md-8  paddingbottom10 margintop10 ">
                                        
                                    </div>
                                    
                                </div>
                            </div>
                            <!-- <div class="col-xs-12 col-sm-12 col-md-12">
                                Redes sociales
                            </div> -->

                            <div class="col-xs-12 col-sm-12 col-md-12">
                                <div style="font-style:italic;"><br>
                                {% for autores in noticias.artautores_set.all%}
                                    {% if forloop.first %}
                                    {%else%}
                                        <p>{{autores.autorpk.nombre_autor}} <sup>{{autores.subindice}}</sup></p>
                                    {%endif%}
                                {%endfor%}

                                </div><br>
                                <br>
                                
                                {{noticias.descrip|safe}}

                            </div>

                            

                        </div><!-- DESTACADO  -->




                      
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-4">  <!-- BANNERS  -->
                            <div class="col-xs-12 col-sm-12 col-md-12 barraverdePratocina">
                              <h2>PATROCINADORES</h2>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12 nomargin texturarayas sidebarPatrocinadores">

                                <!-- DIAMANTE -->
                                    <div class="col-xs-12 col-sm-12 col-md-12 patrocinadoriconsidebar">
                                        <div class="iconcat">
                                            <img src="/static/webapp/images/temporales/patrcinadorDiamanteSide.png">
                                        </div>
                                    </div>
                                    <div class="col-xs-6 col-sm-6 col-md-6 patrocinadorsideba">
                                        <img src="/static/webapp/images/temporales/patro01.jpg">
                                    </div>
                                     <div class="col-xs-6 col-sm-6 col-md-6 patrocinadorsideba">
                                        <img src="/static/webapp/images/temporales/patro02.jpg">
                                    </div>
                                    <div class="col-xs-6 col-sm-6 col-md-6 patrocinadorsideba">
                                        <img src="/static/webapp/images/temporales/patro03.jpg">
                                    </div>
                                    <div class="col-xs-6 col-sm-6 col-md-6 patrocinadorsideba">
                                        <img src="/static/webapp/images/temporales/patro01.jpg">
                                    </div>
                                    <div class="col-xs-6 col-sm-6 col-md-6 patrocinadorsideba">
                                        <img src="/static/webapp/images/temporales/patro02.jpg">
                                    </div>
                                    <div class="col-xs-6 col-sm-6 col-md-6 patrocinadorsideba">
                                        <img src="/static/webapp/images/temporales/patro01.jpg">
                                    </div>
                                    <div class="col-xs-6 col-sm-6 col-md-6 patrocinadorsideba">
                                        <img src="/static/webapp/images/temporales/patro03.jpg">
                                    </div>
                                <!-- DIAMANTE -->

                                <!-- oro -->
                                    <div class="col-xs-12 col-sm-12 col-md-12 patrocinadoriconsidebar">
                                        <div class="iconcat">
                                            <img src="/static/webapp/images/temporales/patrcinadororoSide.png">
                                        </div>
                                    </div>
                                    <div class="col-xs-6 col-sm-6 col-md-6 patrocinadorsideba">
                                        <img src="/static/webapp/images/temporales/patro03.jpg">
                                    </div>
                                     <div class="col-xs-6 col-sm-6 col-md-6 patrocinadorsideba">
                                        <img src="/static/webapp/images/temporales/patro02.jpg">
                                    </div>
                                    <div class="col-xs-6 col-sm-6 col-md-6 patrocinadorsideba">
                                        <img src="/static/webapp/images/temporales/patro01.jpg">
                                    </div>
                                    <div class="col-xs-6 col-sm-6 col-md-6 patrocinadorsideba">
                                        <img src="/static/webapp/images/temporales/patro01.jpg">
                                    </div>
                                    <div class="col-xs-6 col-sm-6 col-md-6 patrocinadorsideba">
                                        <img src="/static/webapp/images/temporales/patro01.jpg">
                                    </div>
                                    <div class="col-xs-6 col-sm-6 col-md-6 patrocinadorsideba">
                                        <img src="/static/webapp/images/temporales/patro03.jpg">
                                    </div>
                                    <div class="col-xs-6 col-sm-6 col-md-6 patrocinadorsideba">
                                        <img src="/static/webapp/images/temporales/patro02.jpg">
                                    </div>
                                <!-- oro -->

                                <!-- plata -->
                                    <div class="col-xs-12 col-sm-12 col-md-12 patrocinadoriconsidebar">
                                        <div class="iconcat">
                                            <img src="/static/webapp/images/temporales/patrcinadorplataSide.png">
                                        </div>
                                    </div>
                                    <div class="col-xs-6 col-sm-6 col-md-6 patrocinadorsideba">
                                        <img src="/static/webapp/images/temporales/patro03.jpg">
                                    </div>
                                     <div class="col-xs-6 col-sm-6 col-md-6 patrocinadorsideba">
                                        <img src="/static/webapp/images/temporales/patro02.jpg">
                                    </div>
                                    <div class="col-xs-6 col-sm-6 col-md-6 patrocinadorsideba">
                                        <img src="/static/webapp/images/temporales/patro01.jpg">
                                    </div>
                                    <div class="col-xs-6 col-sm-6 col-md-6 patrocinadorsideba">
                                        <img src="/static/webapp/images/temporales/patro01.jpg">
                                    </div>
                                    <div class="col-xs-6 col-sm-6 col-md-6 patrocinadorsideba">
                                        <img src="/static/webapp/images/temporales/patro03.jpg">
                                    </div>
                                    <div class="col-xs-6 col-sm-6 col-md-6 patrocinadorsideba">
                                        <img src="/static/webapp/images/temporales/patro01.jpg">
                                    </div>
                                    <div class="col-xs-6 col-sm-6 col-md-6 patrocinadorsideba">
                                        <img src="/static/webapp/images/temporales/patro02.jpg">
                                    </div>
                                <!-- plata -->

                            </div>
                    </div>  <!-- BANNERS -->

                </div>
            </div><!--/.row-->
        </div><!--/.container-->
    </section><!--/#services-->





{% endblock %}


{% block extrajs %}
{% endblock %}

