{% extends 'manager/base.html'%}


{% block content %}

<style type="text/css">
	.baneralia
	{
		width:60%;height:auto;margin:2vh auto;
		border-spacing: 100px;
		border-collapse: collapse;
		border-spacing: 8px 2px !important;
	}
	.baneralia tr{
		margin: 20px;height:2vh;
	}
	.baneralia td{
		padding:2vw;margin:2%;
		vertical-align: middle;
	}

	.carousel
	{
		width:100%;height:6vh;background:#999;
	}

	.cont{
		
	}

	.long{
		width:100%;height:50px;
	}

	.square{
		width:60%;height:100px;
	}

	.diamante
	{
		background-color:blue;margin:2vh auto;
	}


	.fijo
	{
		background-color:green;margin:2vh auto;
	}


</style>


<!-- BEGIN CONTAINER -->
<div class="page-container" >
    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">
        <!-- BEGIN CONTENT BODY -->
        <!-- BEGIN PAGE HEAD-->
        <div class="page-head">
            <div class="container">
            </div>
        </div>
        <!-- END PAGE HEAD-->
        <!-- BEGIN PAGE CONTENT BODY -->
        <div class="page-content">
            <div class="container">
                <!-- BEGIN PAGE BREADCRUMBS -->
                <ul class="page-breadcrumb breadcrumb">
                    <li>
                        <a href="index.html">Banners</a>
                        <i class="fa fa-circle"></i>
                    </li>
                    <li>
                        <span>Banners sección HOME</span>
                    </li>
                </ul>
                <!-- END PAGE BREADCRUMBS -->
                <!-- BEGIN PAGE CONTENT INNER -->
                <div class="page-content-inner">
					<!-- BEGIN EXAMPLE TABLE PORTLET-->
                    <div class="portlet light portlet-fit ">
      					<div class="row">

      					<table class="baneralia">
      						<tr>
      							<td class="logobox">logo</td>
      							<td class="" colspan="5">
									<div class="diamante long">posición 1</div>
      							</td>
      						</tr>
      						<tr class="carousel">
      							<td colspan="6 carousel">carousel</td>
      						</tr>
      						<tr>
      							<td colspan="4" class="cont">
      								
      							<div>Contenido</div>
      							<div class="fijo long">
      								fijo
      							</div>
      							</td>
      							<td colspan="2">
      								<div class="diamante square">posición 2</div>
      								<div class="diamante square">posición 3</div>
      								<div class="diamante square">posición 4</div>
      								<div class="diamante square">posición 5</div>
      							</td>
      						</tr>

      					</table>


      					</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




{%endblock%}