{% extends 'manager/base.html'%}


{% block content %}
        <!-- BEGIN CONTAINER -->
        <div class="page-container" >
            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                <!-- BEGIN PAGE HEAD-->
                <div class="page-head">
                    <div class="container">
                    </div>
                </div>
                <!-- END PAGE HEAD-->
                <!-- BEGIN PAGE CONTENT BODY -->
                <div class="page-content">
                    <div class="container">
                        <!-- BEGIN PAGE BREADCRUMBS -->
                        <ul class="page-breadcrumb breadcrumb">
                            <li>
                                <a href="index.html">Banners</a>
                                <i class="fa fa-circle"></i>
                            </li>
                            <li>
                                <span>Banners</span>
                            </li>
                        </ul>
                        <!-- END PAGE BREADCRUMBS -->
                        <!-- BEGIN PAGE CONTENT INNER -->
                        <div class="page-content-inner">
                            

<!-- BEGIN EXAMPLE TABLE PORTLET-->
                                    <div class="portlet light portlet-fit ">

                                        <div class="portlet-body">
                                            <div class="table-toolbar">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="btn-group">&nbsp;</div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="btn-group pull-right">
                                                            <a href="/manager/formbanners/" id="sample_editable_1_new" class="btn green"> Agregar
                                                                <i class="fa fa-plus">&nbsp;</i>
                                                            </a>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <table class="table table-striped table-hover table-bordered" id="sample_editable_1">
                                                <thead>
                                                    <tr>
                                                        <th> banner </th>
                                                        <th> Nombre </th>
                                                        <th> Editar </th>
                                                        <th> Eliminar </th>
                                                    </tr>
                                                </thead>
                                                <tbody >
                                                    {%for n in caps%}
                                                    <tr   id="id_{{n.pk}}">
                                                        <td>
                                                            <p><img src="{{n.imagencuadrado}}" width="100px"/></p>
                                                            <p>{{n.tipobanner}}</p>
                                                        </td>
                                                        <td> 
                                                            <p>{{n.contador}}</p>
                                                            <p>{{n.nombre}}</p>
                                                            <p>{{n.seccion}}</p>
                                                            <p>{{n.plan}}</p>
                                                         </td>
                                                        <td>
                                                            <a class="edit btn blue btn-circle" href="/manager/formbanners/?id={{n.pk}}"> 
                                                                <i class="fa fa-pencil"></i>
                                                             </a>
                                                        </td>
                                                        <td>
                                                            {% csrf_token %}
                                                            <button class="btn btn-warning uppercase btn-circle pagas" 
                                                                    data-v="id_{{n.pk}}" 
                                                                    data-toggle="confirmation"
                                                                    data-original-title="¿Esta seguro?" >
                                                                <i class="fa fa-times"></i>
                                                            </button>
                                                        </td>
                                                    </tr>
                                                    {%endfor%}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <!-- END EXAMPLE TABLE PORTLET-->




                        </div>
                        <!-- END PAGE CONTENT INNER -->
                    </div>
                </div>
                <!-- END PAGE CONTENT BODY -->
                <!-- END CONTENT BODY -->
            </div>

        </div>
        <!-- END CONTAINER -->

{% endblock %}


{% block extrajs %}
        <script type="text/javascript">
            var layoutpost = 'getbanners';
        </script>
        <script src="/static/manager/magazine/default-controllers.js"></script>
{% endblock %}

