<span id="PORTAL" class="caption-subject font-red sbold uppercase">CARRUSELL</span>


<div class="portlet-body form">
    <div class="row">
        <div class="col-md-12">

            <div class="form-group form-md-line-input">
              <div id="principalpic">
                {% if 'static' in forma.fotoprincipal.value %}
                  <img src="{{forma.fotoprincipal.value}}" height="100%"/>
                {% else %}
                  {% if forma.fotoprincipal.value|length > 9 %}
                      <img src="/uploads/{{forma.fotoprincipal.value}}" height="100%"/>
                  {% endif %}
               {% endif %}
              </div>
            </div>


            <form role="form" name="articulo" action="/manager/addseccion/" method="POST" class="sendit">
                {% csrf_token %}
                <input type="hidden" name="id" id="id_id" {% if id %}value="{{id}}" {% endif %}/>
                <div class="form-group">
                    <label class="control-label" for="select2-single-append">Fecha destacado</label>
                    <div class="input-group select2-bootstrap-prepend">
                        <span class="input-group-addon"><input type="checkbox" > </span>
                        <input type="text" placeholder="Destacado" id="demo" class="form-control" value="">
                        
                    </div>
                </div>
                {{forma.as_p}}
                <div class="form-actions noborder">
                    <button type="submit" class="btn blue">Submit</button>
                    <button type="button" class="btn default">Cancel</button>
                </div>

            </form>
        </div>
    </div>
</div>