{% extends 'manager/base.html'%}

{%block extras%}
    <link href="/static/css/crop/croppic.css" rel="stylesheet"></link>
    <link href="/static/css/manager_magazine.css" rel="stylesheet"></link>
    <link href="/static/webapp/css/main.css" rel="stylesheet">

{%endblock%}

{% block content %}
        <!-- BEGIN CONTAINER -->
        <div class="page-container" ng-app='magazineApp'>
            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                <!-- BEGIN PAGE HEAD-->
                <div class="page-head">
                    <div class="container">
                    </div>
                </div>
                <!-- END PAGE HEAD-->
                <!-- BEGIN PAGE CONTENT BODY -->
                <div class="page-content">
                    <div class="container">
                        <!-- BEGIN PAGE BREADCRUMBS -->
                        <ul class="page-breadcrumb breadcrumb">
                            <li>
                                <a href="index.html">Secciones</a>
                                <i class="fa fa-circle"></i>
                            </li>
                            <li>
                                <span>Sección {{seccion}}</span>
                            </li>
                        </ul>
                        <!-- END PAGE BREADCRUMBS -->
                        <!-- BEGIN PAGE CONTENT INNER -->
                        <div class="page-content-inner">
                            

<!-- BEGIN EXAMPLE TABLE PORTLET-->
                                    <div class="portlet light portlet-fit ">
                                        <div class="portlet-title">
                                            <div class="caption">
                                                <i class="icon-settings font-red"></i>
                                                <span id="PORTAL" class="caption-subject font-red sbold uppercase">
                                                 SECCIÓN {{current_site.name}}
                                                </span>
                                            </div>
                                            <div class="actions">
                                                <div class="btn-group btn-group-devided" >
                                                    {%for s in sites%}
                                                    <a class="btn btn-circle green btn-sm" href="/manager/secciones/?s={{seccion}}&p={{s.pk}}">
                                                         {{s.domain}}
                                                    </a>                                                
                                                    {%endfor%}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="portlet-body">
                                            <div class="table-toolbar">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="btn-group">&nbsp;</div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="btn-group pull-right">
                                                           

                                                        </div>
                                                    </div>
                                                </div>

                                                <span class="caption-subject font-red sbold uppercase">CAROUSEL</span>
                                                <div class="row">
                                                   <div class="col-md-5">

                                                   <div style="margin: 3vmin 0vmin;">
                                                        <a href="/manager/formsecciones/" id="sample_editable_1_new" class="btn green"> Agregar
                                                                <i class="fa fa-plus">&nbsp;</i>
                                                            </a>
                                                   </div>

                                                    <section id="main-slider" class="no-margin">
                                                        <div class="carousel slide carruselpecuarios">
                                                            <div class="carousel-inner" style="height: 100px !important;">

                                                                {% for s in currseccion %}
                                                                <div class="item {% ifequal  forloop.counter0  0 %}active{%endifequal%}" 
                                                                      style="background-image: url('{{s.fotoprincipal}}'); height:100px;">
                                                                      <div style="text-align:center;padding:10% 0%;">
                                                                      <a href="/manager/formsecciones/?id={{s.pk}}" style="color:#fff;">{{s.titulo_seccion}}</a>
                                                                      </div>
                                                                </div><!--/.item-->
                                                                {%endfor%}


                                                            </div><!--/.carousel-inner-->
                                                        </div><!--/.carousel-->
                                                        <a class="prev hidden-xs" href="#main-slider" data-slide="prev">
                                                            <i class="fa fa-chevron-left"></i>
                                                        </a>
                                                        <a class="next hidden-xs" href="#main-slider" data-slide="next">
                                                            <i class="fa fa-chevron-right"></i>
                                                        </a>
                                                    </section><!--/#main-slider-->
                                                    </div>
                                                    
                                                </div>


                                                <br/>
                                                <hr/>




                                            </div>

                                        </div>
                                    </div>
                                    <!-- END EXAMPLE TABLE PORTLET-->




                        </div>
                        <!-- END PAGE CONTENT INNER -->
                    </div>
                </div>
                <!-- END PAGE CONTENT BODY -->
                <!-- END CONTENT BODY -->
            </div>
            <!-- END CONTENT -->

        </div>
        <!-- END CONTAINER -->

{% endblock %}


{% block extrajs %}
    <script src="/static/webapp/js/jquery.js"></script>
    <script src="/static/webapp/js/bootstrap.min.js"></script>
    <script src="/static/webapp/js/jquery.prettyPhoto.js"></script>
    <script src="/static/webapp/js/jquery.isotope.min.js"></script>
    <script src="/static/webapp/js/main.js"></script>
    <script src="/static/webapp/js/wow.min.js"></script>

        <script src='//cdn.tinymce.com/4/tinymce.min.js'></script>
        <script src="/static/js/chumbucket.js"></script>
        <script src="/static/manager/magazine/magazine-controlers.js"></script>
        <script src="/static/js/crop/croppic.js"></script>
        <script type="text/javascript">
        <script type="text/javascript">
            var layoutpost = 'getarticulos';
        </script>
        <script src="/static/manager/magazine/default-controllers.js"></script>

        <script type="text/javascript">
            
            var cropperOptions = {
                  processInline:true,
                  cropData:{
                    "uid":'{{id}}',
                    "portal":'1',
                    "tipo":'home_carousel',
                  },
                  loaderHtml:'<i class="fa fa-spinner"></i>',
                  //loadPicture:'/static/imgs/{{data.fotoprincipal}}',
                  cropUrl:'/manager/crop/',
                  rotateControls:true,
                  doubleZoomControls:true,
                  imgEyecandy:true,
                  imgEyecandyOpacity:0.2,
                  outputUrlId:'salida',
                  onAfterImgCrop:function(response){
                    $('#id_fotoprincipal').val(response.url);
                    //$('#principalpic img').remove();
                  
                  }
                };

                $(document).ready(function(){

                    var cropperHeader = new Croppic('principalpic',cropperOptions);
                    $('.sendit').submit(sendit);


                });


        </script>

{% endblock %}
