{% extends 'manager/base.html'%}


{% block extras %}
    <link href="/static/css/crop/croppic.css" rel="stylesheet"></link>
    <link href="/static/css/manager_magazine.css" rel="stylesheet"></link>
    <style>
.lb{
    display: inline-block;vertical-align: middle;
}



.smallinput{
font-family: 'Raleway', sans-serif;
padding:3vmin;font-size:1vmax;margin:auto;
border-bottom-right-radius:2.5vmin;
border-top-left-radius:1vmin;
color:#333;font-weight:400;
width:90%;margin:1vmin 0px;
background:#EEE;
}


.roundlogop{
    width:12vmin;height:12vmin;
    border-radius:10vmin;
    background-size: cover;
    background-color:#666;
    margin:2vmin auto;

}

.minigallery{
    width:15%;height:auto;padding:2px;
    background-size: cover;background-repeat: no-repeat;
    border-top-left-radius: 2vmin;
    margin:1vmin;
    word-wrap: break-word;
    vertical-align: top;
}




    </style>
{% endblock %}

{% block content %}

<form id="addphoto_form" method='post'>
  {% csrf_token %}
  <input type="hidden" name="idnoticia" id="idnoticia" value="{{id}}" />
  <input type="file" name="foto" id="galery" style="display:none;" />
</form>

        <!-- BEGIN CONTAINER -->
        <div class="page-container" ng-app='magazineApp'>
            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                <!-- BEGIN PAGE HEAD-->
                <div class="page-head">
                    <div class="container">
                    </div>
                </div>
                <!-- END PAGE HEAD-->
                <!-- BEGIN PAGE CONTENT BODY -->
                <div class="page-content">
                    <div class="container">
                        <!-- BEGIN PAGE BREADCRUMBS -->
                        <ul class="page-breadcrumb breadcrumb">
                            <li>
                                <a href="index.html">Magazine</a>
                                <i class="fa fa-circle"></i>
                            </li>
                            <li>
                                <span>Capsulas</span>
                            </li>
                        </ul>
                        <!-- END PAGE BREADCRUMBS -->
                        <!-- BEGIN PAGE CONTENT INNER -->
                        <div class="page-content-inner">
                        <div class="row">
                            <!-- BEGIN SAMPLE FORM PORTLET-->
                            <div class="col-md-9 ">
                                <div class="portlet light ">
                                    <div class="portlet-title">
                                        <div class="caption font-red-sunglo">
                                            <i class="glyphicon glyphicon-list-alt"></i>
                                            <span class="caption-subject bold uppercase"> MAGAZINE - VIDEOS</span>
                                        </div>
                                        <div class="actions">
                                           

                                        </div>
                                    </div>
                                    <div class="portlet-body form">

                                        <form role="form" name="articulo" action="/manager/addvideos/" method="POST" class="sendit">
                                            {% csrf_token %}
                                                    <div class="md-checkbox">
                                                        <input type="checkbox" class="md-check" id="id_privado" name="privado" value="1">
                                                        <label for="id_privado">
                                                            <span></span>
                                                            <span class="check"></span>
                                                            <span class="box"></span>
                                                            Es privado </label>
                                                    </div>
                                            
                                            
                                            <input type="hidden" name="id" id="id_id" {% if id %}value="{{id}}" {% endif %}/>
                                            
                                            <div class="form-body">

                                                <div>
                                                </div>
                                                <div class="form-group" style="display: none;">
                                                    <label class="control-label" for="select2-single-append">Fecha destacado</label>
                                                    <div class="input-group select2-bootstrap-prepend">
                                                        <span class="input-group-addon"><input type="checkbox" > </span>
                                                        <input type="text" placeholder="Destacado" id="demo" class="form-control" value="">
                                                        
                                                    </div>
                                                </div>


                                                {% for p in forma.visible_fields %}
                                                    {% ifequal p.label 'Contenido' %}
                                                    

                                                        <div style="width:100%;">
                                                            <ul id="galeria" class="lb" style="width:90%;">
                                                            {% for f in fotos %}
                                                                <li class="lb minigallery">
                                                                  <p style="display:none;position:absolute;margin-left:11vmin;margin-top:-4vmin;">
                                                                    <a href="#close" class="btn btn-info cancel_close">
                                                                      <i class="fa fa-times"></i>
                                                                    </a>
                                                                  </p>
                                                                  <p>
                                                                      <img src="/{{f.foto}}" width="100%" />
                                                                  </p>
                                                                  <div>
                                                                      /{{f.foto}}
                                                                  </div>
                                                                </li>



                                                            {% endfor %}
                                                            </ul>
                                                            <span class="lb" style="width:9%;text-align:right;">
                                                                <a href="#change" id="addphoto" class="btn btn-info">
                                                                    <i class="fa fa-camera"></i>
                                                                </a>
                                                            </span>
                                                          
                                                        </div>

                                                        <br/>
                                                    {% endifequal %}
                                                    <p>
                                                        <label>{{p.label}}:</label>
                                                        {{p}}
                                                    </p>
                                                {% endfor %}
                                                {% for hidden in forma.hidden_fields %}
                                                {{ hidden }}
                                                {% endfor %}
                                                
            

                                            </div>
                                            <div class="form-actions noborder">
                                                <button type="submit" class="btn blue">Submit</button>
                                                <button type="button" class="btn default">Cancel</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>


                        </div>

                        </div>
                        <!-- END PAGE CONTENT INNER -->
                        </div>
                        <!-- END PAGE CONTENT INNER -->
                    </div>
                </div>
                <!-- END PAGE CONTENT BODY -->
                <!-- END CONTENT BODY -->
            </div>
            <!-- END CONTENT -->
        </div>
        <!-- END CONTAINER -->


{% endblock %}


{% block extrajs %}

        <script type="text/javascript">
            

                function addphoto(e){
                    e.preventDefault();
                    $('#galery').click();
                }


                function addingthephoto(e){
                    forma = $('#addphoto_form').get(0);
                    var data = new FormData(forma);
                    $.ajax({url:'/manager/addphoto/',
                            type:'POST',
                            data:data,
                            cache: false,
                            processData: false,
                            contentType:false,
                            dataType: 'json',
                            success:function(response){
                                imagen = document.createElement('li');
                                $(imagen).addClass('lb minigallery').attr('ruta',response.path);
                                $(imagen).append('<p><img src="/'+response.path+'" width="100%" /><p>/'+response.path+'</p>');
                                
                                //$(imagen).click(showme);
                                $('#galeria').append(imagen);
                            }

                    });

                }


            function showme(e){
                mypath = $(this).attr('ruta'); 
                // find('img:first').attr('src');
                $('#pather').text('/'+mypath);

            }

            var cropperOptions = {
                  processInline:true,
                  cropData:{
                    "uid":'{{id}}',
                    "portal":'1',
                    "tipo":'capsula',
                  },
                  loaderHtml:'<i class="fa fa-spinner"></i>',
                  //loadPicture:'/static/imgs/{{data.fotoprincipal}}',
                  cropUrl:'/manager/crop/',
                  rotateControls:true,
                  doubleZoomControls:true,
                  imgEyecandy:true,
                  imgEyecandyOpacity:0.2,
                  outputUrlId:'salida',
                  onAfterImgCrop:function(response){
                    $('#id_fotoprincipal').val(response.url);
                    //$('#principalpic img').remove();
                  
                  }
                };

        </script>

        <script src='//cdn.tinymce.com/4/tinymce.min.js'></script>
        <script src="/static/js/chumbucket.js"></script>
        <script src="/static/manager/magazine/magazine-controlers.js"></script>
        <script src="/static/js/crop/croppic.js"></script>
        <script type="text/javascript">
            
  $(document).ready(function(){


    $('.id_privado').prop('indeterminate', true);

    $('#id_fechapub').daterangepicker(
    {
        singleDatePicker: true,
        showDropdowns: true,
        locale: {
            format: 'YYYY-MM-DD h:mm'
        }
    }
    );


    $('#demo').daterangepicker({}, function(start, end, label) {
      $('#id_fecha_des_beg').val(start.format('YYYY-MM-DD'));
      $('#id_fecha_des_end').val(end.format('YYYY-MM-DD'));

    });

    var cropperHeader = new Croppic('principalpic',cropperOptions);


    var params = {};

    $('.dropmenuaction li a').click(function(e){
        e.preventDefault();
        params.catpk = $(this).attr('href').replace('#','');
        params.name = $(this).text();
        params.value=$(this).attr('data');
        params.targetx = $(this).parents('ul:first').attr('vic');
        params.input = $(this).parents('ul:first').attr('data-input');
        $('#'+params.targetx).html(params.name);
        $('#'+params.input).val(params.value);

    });

  tinymce.init({
    selector: '#id_descrip',
    plugins: [
    'advlist autolink lists link image charmap print preview anchor',
    'searchreplace visualblocks code fullscreen',
    'insertdatetime media table contextmenu paste code'
  ]
  });



    // AJAX SEND DATA .--------------------------------------------------------
    // REQUIRE chumbucket.js file instead avobe this lines
    $('.sendit').submit(sendit);




  $('#addphoto').click(addphoto);
  $('#galery').change(addingthephoto);



  });

        </script>
{% endblock %}

