{% extends 'manager/base.html'%}


{% block content %}
        <!-- BEGIN CONTAINER -->
        <div class="page-container" >
            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                <!-- BEGIN PAGE HEAD-->
                <div class="page-head">
                    <div class="container">
                    </div>
                </div>
                <!-- END PAGE HEAD-->
                <!-- BEGIN PAGE CONTENT BODY -->
                <div class="page-content">
                    <div class="container">
                        <!-- BEGIN PAGE BREADCRUMBS -->
                        <ul class="page-breadcrumb breadcrumb">
                            <li>
                                <a href="index.html">Magazine</a>
                                <i class="fa fa-circle"></i>
                            </li>
                            <li>
                                <span>Videos</span>
                            </li>
                        </ul>
                        <!-- END PAGE BREADCRUMBS -->
                        <!-- BEGIN PAGE CONTENT INNER -->
                        <div class="page-content-inner">
                            

<!-- BEGIN EXAMPLE TABLE PORTLET-->
                                    <div class="portlet light portlet-fit ">
                                        <div class="portlet-title">
                                            <div class="caption">
                                                <i class="icon-settings font-red"></i>
                                                <span id="PORTAL" class="caption-subject font-red sbold uppercase">
                                                {{portal}} 
                                                </span>
                                            </div>
                                            <div class="actions" style="display: none;">
                                                <div class="btn-group btn-group-devided" data-toggle="buttons">
                                                    <label class="btn btn-transparent red btn-outline btn-circle btn-sm active">
                                                        <input type="radio" name="portal" class="toggle" id="option1">Porcicultura</label>
                                                    <label class="btn btn-transparent red btn-outline btn-circle btn-sm">
                                                        <input type="radio" name="portal" class="toggle" id="option2">ganaderia</label>
                                                    <label class="btn btn-transparent red btn-outline btn-circle btn-sm">
                                                        <input type="radio" name="portal" class="toggle" id="option3">Avicultura</label>
                                                
                                                </div>
                                            </div>
                                        </div>
                                        <div class="portlet-body">
                                            <div class="table-toolbar">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="btn-group">&nbsp;</div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="btn-group pull-right">
                                                            <a href="/manager/formvideos/" id="sample_editable_1_new" class="btn green"> Agregar
                                                                <i class="fa fa-plus">&nbsp;</i>
                                                            </a>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <table class="table table-striped table-hover table-bordered" id="sample_editable_1">
                                                <thead>
                                                    <tr>
                                                        <th> Clave </th>
                                                        <th> Título </th>
                                                        <th> Editar </th>
                                                        <th> Eliminar </th>
                                                    </tr>
                                                </thead>
                                                <tbody >
                                                    {%for n in caps%}
                                                    <tr   id="id_{{n.pk}}">
                                                        <td> {{n.pk}}</td>
                                                        <td> {{n.titulo_video}} </td>
                                                        <td>
                                                            <a class="edit btn blue btn-circle" href="/manager/formvideos/?id={{n.pk}}"> 
                                                                <i class="fa fa-pencil"></i>
                                                             </a>
                                                        </td>
                                                        <td>
                                                            {% csrf_token %}
                                                            <button class="btn btn-warning uppercase btn-circle pagas" 
                                                                    data-v="id_{{n.pk}}" 
                                                                    data-toggle="confirmation"
                                                                    data-original-title="¿Esta seguro?" >
                                                                <i class="fa fa-times"></i>
                                                            </button>
                                                        </td>
                                                    </tr>
                                                    {%endfor%}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <!-- END EXAMPLE TABLE PORTLET-->




                        </div>
                        <!-- END PAGE CONTENT INNER -->
                    </div>
                </div>
                <!-- END PAGE CONTENT BODY -->
                <!-- END CONTENT BODY -->
            </div>

        </div>
        <!-- END CONTAINER -->

{% endblock %}


{% block extrajs %}
        <script src="/static/manager/magazine/videos-controllers.js"></script>
{% endblock %}

